<!-- <app-page-header title="Item" icon="assignment_ind"></app-page-header> -->

<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.Item'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="itemlist.length==0">{{'mainMenu.Export'|translate}}</button>
</header>
<div class="page-content" [hidden]="isAddingitem">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Item.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" class="table-lg" matSort matSortActive="itemReference" matSortDirection="asc"
            matSortDisableClear>
            <ng-container matColumnDef="itemReference">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Item Reference'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.itemReference}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="categoryName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Category Name'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.categoryName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemTypeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Item Type'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.itemTypeName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Name 1'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Name 2'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Item Description'|translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="averageCost" >
                <mat-header-cell  *matHeaderCellDef mat-sort-header>{{'Item.Management.Average Cost'|translate}}
                </mat-header-cell>
                <mat-cell class="text-right"  *matCellDef="let row"> {{row.averageCost}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="uomName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Uom Name'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.uomName}} </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Item Description'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container> -->
            <!-- <ng-container matColumnDef="units">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Units'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.units}} </mat-cell>
            </ng-container> -->
            <!-- <ng-container matColumnDef="unitOfConversion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Item.Management.Units of Conversion'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.unitOfConversion}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="isActive">
                <mat-header-cell class="just-cont-center small-cell1" *matHeaderCellDef mat-sort-header>
                    {{'Item.Management.Is Active'|translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary" matTooltip="{{'Item.Management.Add'|translate}}" (click)="editClick()">
                        <mat-icon class="mat-button-icon">add</mat-icon>{{'Item.Management.Add Item'|translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button matTooltip="{{'Item.Management.Edit'|translate}}" (click)="editClick(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="{{'Item.Management.Delete'|translate}}" [hidden]="!row.isActive" (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'Item.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'Item.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" *ngIf="isAddingitem">
    <mat-card>
        <br>
        <mat-card-content>
            <form [formGroup]="itemForm">
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Item Reference'|translate}}</mat-label>
                        <input matInput formControlName="itemReference" required maxlength="50" />
                          <mat-error *ngIf="itemForm.get('itemReference').hasError('required')">
                            {{'Item.Management.Item Reference is required(minimum of 3 and maximum of 50 Characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="itemForm.get('itemReference').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!itemForm.controls['itemReference'].valid">
                            {{'Item.Management.Item Reference is required(minimum of 3 and maximum of 50 Characters)'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Item Type'|translate}}</mat-label>
                        <mat-select formControlName="itemTypeName" required>
                            <mat-option *ngFor="let item of itemTypes" [value]="item.typeCdDmtId">
                                {{item.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!itemForm.controls['itemTypeName'].valid">
                            {{'Item.Management.Please Select ItemType'|translate}} 
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Item Category'|translate}}</mat-label>
                        <mat-select formControlName="selectCategory" required>
                            <mat-option *ngFor="let doc of itemCategory" [value]="doc.id">
                                {{doc.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!itemForm.controls['selectCategory'].valid">
                            {{'Item.Management.Please Select Item Category'|translate}} 
                        </mat-error>
                    </mat-form-field>
                   
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Name 1'|translate}}</mat-label>
                        <input matInput formControlName="name1" required maxlength="50" />
                        <mat-error *ngIf="itemForm.get('name1').hasError('required')">
                            {{'Item.Management.Name 1 is required(Name must be at least 3 characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="itemForm.get('name1').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!itemForm.controls['name1'].valid">
                            {{'Item.Management.Name 1 is required(Name must be at least 3 characters)'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Name 2'|translate}}</mat-label>
                        <input matInput formControlName="name2" required maxlength="50" />
                        <mat-error *ngIf="itemForm.get('name2').hasError('required')">
                            {{'Item.Management.Name 2 is required(Name must be at least 3 characters)'|translate}} 
                          </mat-error>
                          <mat-error *ngIf="itemForm.get('name2').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!itemForm.controls['name2'].valid">
                            {{'Item.Management.Name 2 is required(Name must be at least 3 characters)'|translate}} 
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Description'|translate}}</mat-label>
                        <input matInput formControlName="description" required maxlength="50" />
                        <mat-error *ngIf="itemForm.get('description').hasError('required')">
                            {{'Item.Management.Description is required(Name must be at least 3 characters)'|translate}} 
                          </mat-error>
                          <mat-error *ngIf="itemForm.get('description').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!itemForm.controls['description'].valid">
                            {{'Item.Management.Description is required'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Unit of Measure'|translate}}</mat-label>
                        <mat-select formControlName="uomId" required>
                            <mat-option *ngFor="let uom of UOMData" [value]="uom.id">
                                {{uom.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!itemForm.controls['uomId'].valid">
                            {{'Item.Management.Please Select Unit of Measure'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Average Cost'|translate}}</mat-label>
                        <input matInput formControlName="averageCost" (keypress)="numberOnly($event)" required maxlength="50" />
                        <mat-error *ngIf="!itemForm.controls['averageCost'].valid">
                            {{'Item.Management.Average Cost is required'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Units'|translate}}</mat-label>
                        <input matInput formControlName="unit" required maxlength="50" />
                        <mat-error *ngIf="!itemForm.controls['unit'].valid">
                            {{'Item.Management.Units is required'|translate}} 
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Item.Management.Units of Conversion'|translate}}</mat-label>
                        <input matInput formControlName="unitconversion" required maxlength="50" />
                        <mat-error *ngIf="!itemForm.controls['unitconversion'].valid">
                            {{'Item.Management.Units of Conversion is required'|translate}} 
                        </mat-error>
                    </mat-form-field> -->
                </div>
                <mat-checkbox formControlName="isActive">{{'Item.Management.Is Active'|translate}} </mat-checkbox>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary" (click)="saveitem()">{{'Item.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn" (click)="onCancelClick()">{{'Item.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>