<h1 mat-dialog-title>Select Asset</h1>
<div mat-dialog-content>
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Asset.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource"  matSort matSortActive="assetRef"
        matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="isChecked">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <mat-checkbox [checked]="row.isChecked" [(ngModel)]="row.isChecked" (change)="onAssetChecked($event,row)" ></mat-checkbox>
            </mat-cell>
      </ng-container>
        <ng-container matColumnDef="name1">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.Name1'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="assetRef">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.Asset Refrerence'|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.assetRef}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="assetCounter">
            <mat-header-cell  *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.Asset Counter'|translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let row" class="just-cont-center">
                {{row.astCounter}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="astFixedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >
                {{'Assets.Management.assetFixedDate'|translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let row">
                {{row.astFixedDate | date: 'dd/MM/yyyy' }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row;  columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
        <p>{{'Assets.Management.No Records Found'|translate}}</p>
    </div>
    <div style="text-align: center;" *ngIf="displayNoRecords">
        <p>{{'Assets.Management.No Search Results Found'|translate}}</p>
    </div>
    <mat-paginator  [length]="dataSource.data.length" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
        <!-- <table class="table table-bordered">
            <thead>
                <tr>
                     <th style="width:50px;">
                        <div class="form-check pad-left-0 check-ui">
                            <label > 
                                <input  type="checkbox" name="check" (change)="checkAllAssets($event)" />
                                <span class="label-text" style="margin-right: 5px;" ></span>
                            </label>
                        </div>
                    </th> 
                    <th>Asset Name</th>
                    <th>Asset Reference</th>
                    <th>Asset Counter</th>
                    <th>Asset Fixed Date</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asset of assetList;let i = index">
                     <td>
                        <div class="form-check pad-left-0">
                            <label>
                                <input type="checkbox" name="check" [(ngModel)]="asset.isChecked" (change)="onAssetChecked($event,asset)">
                                <span class="label-text"></span>
                            </label>
                        </div>
                    </td> 
                    <td>{{asset.name1}} </td>
                    <td>{{asset.assetLocationRef}}</td>
                    <td class="text-center">{{asset.astCounter}}</td>
                    <td>{{asset.astFixedDate | date: 'dd/MM/yyyy '}}</td>
                    
                </tr>
            </tbody>
            
        </table> -->
    </div>
    <div class="clearfix"></div>
</div>
<div mat-dialog-actions class="float-right" style="padding-top: 12px;">
    <button mat-raised-button color="primary" [mat-dialog-close]="assetData">Save</button>
    <button mat-raised-button (click)="Cancel()" color="warn">Cancel</button>
</div>