<h1 [dir]="textDir"  mat-dialog-title>Select Asset</h1>
<div [dir]="textDir" mat-dialog-content>
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Asset.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource"  matSort matSortActive="assetRef"
        matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="isChecked">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <mat-checkbox [checked]="row.isChecked" [(ngModel)]="row.isChecked" (change)="onAssetChecked($event,row)" ></mat-checkbox>
            </mat-cell>
      </ng-container>
        <ng-container matColumnDef="name1">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.Name1'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="assetRef">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.Asset Refrerence'|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.assetRef}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="daysApplicable">
            <mat-header-cell class="just-cont-center" *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.DaysApplicable'|translate}}</mat-header-cell>      
                <mat-cell class="text-center" *matCellDef="let row; let i = index;">
                    <span *ngIf="!row.isChecked"> {{row.daysApplicable}}</span>
                    <span  *ngIf="row.isChecked">
                        <mat-form-field class="w-75 text-wid">
                            <input matInput [(ngModel)]="row.daysApplicable" (blur)="onDaysEnter($event.target.value)"  maxlength="10"/>
                        </mat-form-field>
                    </span>
                </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="daysApplicable">
            <mat-header-cell  *matHeaderCellDef mat-sort-header>
                {{'Assets.Management.DaysApplicable'|translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let row" class="just-cont-center">
                {{row.daysApplicable}} </mat-cell>
        </ng-container> -->
        
        <ng-container matColumnDef="astFixedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >
                {{'Assets.Management.assetFixedDate'|translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let row">
                {{row.astFixedDate | date: 'dd/MM/yyyy' }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row;  columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
        <p>{{'Assets.Management.No Records Found'|translate}}</p>
    </div>
    <div style="text-align: center;" *ngIf="displayNoRecords">
        <p>{{'Assets.Management.No Search Results Found'|translate}}</p>
    </div>
    <mat-paginator  [length]="dataSource.data.length" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
       
    </div>
    <div class="clearfix"></div>
</div>
<div mat-dialog-actions class="float-right" style="padding-top: 12px;">
    <button [dir]="textDir"  mat-raised-button color="primary" [mat-dialog-close]="assetData">Save</button>
    <button [dir]="textDir"  mat-raised-button (click)="Cancel()" color="warn">Cancel</button>
</div>