<div class="dialog-header dh-back dh-htxt">
  <h2  mat-dialog-title>{{data.title}}
  </h2>
</div>
<mat-dialog-content>
    <div>
        <p>{{data.msg}}</p> 
  </div>
  <div  *ngIf="data.isCheckbox">
    <div class="form-check pad-left-0">
      <label>
        <input type="checkbox" name="check" [(ngModel)]="data.isChecked" #check="ngModel">
        <span class="label-text">{{data.chkMsg}}</span> 
      </label>
    </div>
  </div>
</mat-dialog-content>
<div class="clearfix space20"></div>
<mat-dialog-actions class="float-right">
  <button  mat-raised-button color="primary" type="submit" [mat-dialog-close]="data">
    <span >
      {{data.ok}}
    </span>
  </button>&nbsp;
  <button mat-raised-button color="warn" type="reset()" (click)="onCancelClick()">
    <span >
   {{data.cancel}}
    </span>
  </button>
</mat-dialog-actions>













<!-- <h1 mat-dialog-title><i class="{{data.iconClass}}" aria-hidden="true"></i>&nbsp;{{data.title}}</h1>
 
  <mat-dialog-content>
    <p style="font-weight: bold;"> {{data.body}} </p>        
  </mat-dialog-content>
 
  <mat-dialog-actions>
    <button class="fcbtn btn btn-outline btn-primary btn-1c" (click)="onCloseConfirm()"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;Confirm</button>&nbsp;
    <button class="fcbtn btn btn-outline btn-primary btn-1c" (click)="onCloseCancel()"><i class="fa fa-remove fa-lg" aria-hidden="true"></i>&nbsp;Cancel</button>
  </mat-dialog-actions> -->