<!-- <app-page-header title="Location" icon="assignment_ind"></app-page-header> -->
<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.Location'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="locationsData.length==0">{{'mainMenu.Export'|translate}}</button>
</header>
<div class="page-content" [hidden]="isAdding">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Location.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" class="table-lg" matSort matSortActive="locationReference"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="siteName1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.management.SiteName1' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.siteName1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="projectName1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Location.Management.projectName' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.projectName1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="locationReference">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Location.Management.locationRef' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.locationReference}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Location.Management.lName1' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Location.Management.lName2' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name2}} </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="updatedDate">
                <mat-header-cell *matHeaderCellDef class="just-cont-center small-cell1" mat-sort-header>
                    {{'site.management.UpdatedDate' | translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row">
                    {{row.updatedDate | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="isActive">
                <mat-header-cell class="just-cont-center small-cell1" *matHeaderCellDef mat-sort-header>
                    {{'site.management.IsActive' | translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary" matTooltip="{{'Location.Management.Add'| translate}}"
                        *ngIf="canAddLocation" (click)="onEditLocation()">
                        <mat-icon class="mat-button-icon">add</mat-icon>
                        {{'Location.Management.addLocation' | translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button matTooltip="{{'Location.Management.Edit'| translate}}"
                        *ngIf="canEditLocation" (click)="onEditLocation(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="{{'Location.Management.Delete'| translate}}"
                        *ngIf="canDeleteLocation" (click)="onDeleteLocation(row)" [hidden]="!row.isActive">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'project.management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'project.management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" *ngIf="isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewLocation">{{'Location.Management.addLocation' | translate}}</mat-card-title>
            <mat-card-title *ngIf="!isNewLocation">{{'Location.Management.editLocation' | translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="locationForm">
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'project.management.SiteName1' | translate}}*</mat-label>
                        <mat-select formControlName="siteId"  (ngModelChange)="getProjectsByUserIdandSiteId($event)">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!locationForm.controls['siteId'].valid">
                            {{'Location.editor.sNameisrequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Location.Management.projectName' | translate}}*</mat-label>
                        <mat-select formControlName="projectId" >
                            <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!locationForm.controls['projectId'].valid">
                            {{'Location.editor.pNameisrequired' | translate}}
                        </mat-error>
                    </mat-form-field>


                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Location.Management.location Reference' | translate}}</mat-label>
                        <input matInput formControlName="locationRef"  appTitleCase required  minlength="3" />
                        <mat-error *ngIf="!locationForm.controls['locationRef'].valid">
                            {{'Location.Management.location Reference is required(location Reference must be at least 3 characters)' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label> {{'Location.Management.Name 1' | translate}}</mat-label>
                        <input matInput formControlName="lName1" required minlength="3" />
                        <mat-error *ngIf="!locationForm.controls['lName1'].valid">
                            {{'Location.Management.Name 1 is required(Name must be at least 3 characters)' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Location.Management.Name 2' | translate}}</mat-label>
                        <input matInput formControlName="lname2" required minlength="3" />
                        <mat-error *ngIf="!locationForm.controls['lname2'].valid">
                            {{'Location.Management.Name 2 is required(Name must be at least 3 characters)' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-checkbox class="col-md-6" formControlName="isActive">
                        {{'site.management.IsActive' | translate}}</mat-checkbox>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="save()">{{'site.management.save' | translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onLocationCancel()">{{'site.management.cancel' | translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>