<!-- <app-page-header title="Purchase Order" icon="assignment_ind"></app-page-header> -->
<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.Purchase Order'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="purchasesList.length==0">{{'mainMenu.Export'|translate}}</button>
</header>

<div class="page-content" [hidden]="isAdding || isEdit || isView">
    <!-- <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Purchase Order.Management.Search' | translate}}">
        </mat-form-field>
    </div> -->
    <div class="example-container mat-elevation-z8 mt-2 table-responsive prng-table">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <div>
            <p-table #dt [value]="purchasesList" [paginator]="true" expandableRows="true" [rows]="10"
                sortField="purchaseReference" matSortDirection="-1" [tableStyle]="{'table-layout':'auto'}"
                [rowsPerPageOptions]="[10,20,50]" sortMode="single" rowExp andMode="single" dataKey="id"
                [globalFilterFields]="['purchaseReference','supplierName','supplierAddress','projectName','storeName', 'arrivingDate','statusName','remarks']">
                <ng-template pTemplate="caption">
                    <div style="text-align: left">
                        <input type="text" pInputText size="150"
                            placeholder="{{'Purchase Order.Management.Search By Purchase Order'|translate}}"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3em"></th>
                        <th [pSortableColumn]="'purchaseReference'">
                            {{'Purchase Order.Management.Purchase Reference'|translate}}
                            <p-sortIcon [field]="'purchaseReference'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'supplierName'">{{'Purchase Order.Management.Supplier Name'|translate}}
                            <p-sortIcon [field]="'supplierName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'supplierAddress'">
                            {{'Purchase Order.Management.Supplier Address'|translate}}
                            <p-sortIcon [field]="'supplierAddress'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'projectName'">{{'Purchase Order.Management.Project Name'|translate}}
                            <p-sortIcon [field]="'projectName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'storeName'">{{'Purchase Order.Management.Store Name'|translate}}
                            <p-sortIcon [field]="'storeName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'arrivingDate'">{{'Purchase Order.Management.Arriving Date'|translate}}
                            <p-sortIcon [field]="'arrivingDate'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'statusName'">{{'Purchase Order.Management.Status Name'|translate}}
                            <p-sortIcon [field]="'statusName'"></p-sortIcon>
                        </th>
                        <!-- <th [pSortableColumn]="'updatedDate'">{{'Purchase Order.Management.Updated Date'|translate}}
                            <p-sortIcon [field]="'updatedDate'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'billingAddress'">{{'Purchase Order.Management.Billing Address'|translate}}
                            <p-sortIcon [field]="'billingAddress'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'shippingAddress'">{{'Purchase Order.Management.Shipping Address'|translate}}
                            <p-sortIcon [field]="'shippingAddress'"></p-sortIcon>
                        </th> -->
                        <th [pSortableColumn]="'remarks'">{{'Purchase Order.Management.Remarks'|translate}}
                            <p-sortIcon [field]="'remarks'"></p-sortIcon>
                        </th>
                        <th>{{'Purchase Order.Management.Is Active'|translate}}
                        </th>
                        <th class="just-cont-center">
                            <button mat-button color="primary"
                                matTooltip="{{'Purchase Order.Management.Create'|translate}}" (click)="addClick()">
                                <mat-icon class="mat-button-icon">add</mat-icon>
                                {{'Purchase Order.Management.Add Order'|translate}}
                            </button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-req let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td style="width: 3em">
                            <a [pRowToggler]="req"
                                (click)="getItemsByPurchaseId(req, expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right')">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                        <td>{{req.purchaseReference}}</td>
                        <td>{{req.supplierName}}</td>
                        <td>{{req.supplierAddress}}</td>
                        <td>{{req.projectName}}</td>
                        <td>{{req.storeName}}</td>
                        <td>{{req.arrivingDate | date: 'dd/MM/yyyy '}}</td>
                        <td>{{req.statusName}}</td>
                        <!-- <td>{{req.updatedDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{req.billingAddress}}</td>
                        <td>{{req.shippingAddress}}</td> -->
                        <td>{{req.remarks}}</td>
                        <td align="center">
                            <mat-checkbox [(ngModel)]="req.isActive" disabled="true"> </mat-checkbox>
                        </td>
                        <td class="just-cont-center">
                            <button class="z-index" mat-icon-button *ngIf="isAccepted != req.statusTypeId && isRejected != req.statusTypeId"
                                matTooltip="{{'Purchase Order.Management.Edit'|translate}}" (click)="onEditClick(req)">
                                <mat-icon color="primary">edit</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button 
                                matTooltip="{{'Purchase Order.Management.Delete'|translate}}" [hidden]="!req.isActive"
                                (click)="confirmDelete(req)">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button matTooltip="{{'Purchase Order.Management.View Document'|translate}}" (click)="onViewDoc(req)">
                                <mat-icon>file_copy</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button matTooltip=Accept
                                *ngIf="isAccepted != req.statusTypeId && isRejected != req.statusTypeId"
                                (click)="acceptClick(req)">
                                <mat-icon color="primary">thumb_up</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button matTooltip=Reject
                                *ngIf="isAccepted!= req.statusTypeId && isRejected != req.statusTypeId"
                                (click)="rejectClick(req)">
                                <mat-icon color="warn">thumb_down</mat-icon>
                            </button>
                            <button class="just-cont-center" mat-icon-button matTooltip="{{'Purchase Order.Management.View Details'|translate}}"
                                (click)="onViewdetailsClick(req)">
                                <mat-icon color="accent">visibility icon</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="{{'Purchase Order.Management.Receive'|translate}}" *ngIf="isAccepted == req.statusTypeId"
                                (click)="onReceiveClick(req)">
                                <mat-icon>repeat</mat-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr>
                        <td [attr.colspan]="14">
                            <p-table #dt1 [responsive]="true" [value]="purchaseItemList" [rows]="5" sortField="itemName"
                                [paginator]="true" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                    <tr>
                        <th class="product-id" [pSortableColumn]="'itemName'">
                            {{'Purchase Order.Management.Item Name'|translate}}
                            <p-sortIcon [field]="'itemName'"></p-sortIcon>
                        </th>
                        <th class="product-id" [pSortableColumn]="'itemReference'">
                            {{'Purchase Order.Management.Item Reference'|translate}}
                            <p-sortIcon [field]="'itemReference'"></p-sortIcon>
                        </th>
                        <th class="product-id" [pSortableColumn]="'quantity'">
                            {{'Purchase Order.Management.Quantity'|translate}}
                            <p-sortIcon [field]="'quantity'"></p-sortIcon>
                        </th>

                        <th class="product-id" [pSortableColumn]="'expectedCost'">
                            {{'Purchase Order.Management.Expected Cost'|translate}}
                            <p-sortIcon [field]="'expectedCost'"></p-sortIcon>
                        </th>
                        <th class="product-id" [pSortableColumn]="'comments'">
                            {{'Purchase Order.Management.Comments'|translate}}
                            <p-sortIcon [field]="'comments'"></p-sortIcon>
                        </th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expanded="expanded" let-rowdata>
                    <tr>
                        <td>{{rowdata.itemName}}</td>
                        <td>{{rowdata.itemReference}}</td>
                        <td>{{rowdata.quantity}}</td>
                        <td>{{rowdata.expectedCost}}</td>
                        <td>{{rowdata.comments}}</td>
                        <!-- <td></td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr *ngIf="purchaseItemList.length == 0">
                        <td colspan="5" class="ui-datatable-emptymessage text-center">
                            {{'Purchase Order.Management.No Records Found'|translate}} </td>
                    </tr>
                </ng-template>
            </p-table>
            </td>
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td colspan="16" class="ui-datatable-emptymessage text-center">
                        {{'Purchase Order.Management.No Records Found'|translate}}
                    </td>
                </tr>
            </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="page-content" *ngIf="isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewPurchase">{{'Purchase Order.Management.Add Purchase Order'|translate}}
            </mat-card-title>
            <mat-card-title *ngIf="!isNewPurchase">{{'Purchase Order.Management.Edit Purchase Order'|translate}}
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="orderForm">
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Purchase Reference'|translate}}</mat-label>
                        <input matInput formControlName="purchaseReference" minlength="3" maxlength="30" required />
                        <mat-error *ngIf="orderForm.get('purchaseReference').hasError('required')">
                            {{'Purchase Order.Management.Purchase Reference is Required(Purchase Reference must be at least 3 characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="orderForm.get('purchaseReference').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!orderForm.controls['purchaseReference'].valid">
                            {{'Purchase Order.Management.Purchase Reference is Required(Purchase Reference must be at least 3 characters)'|translate}}
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Select Supplier'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="supplierId">
                            <mat-option *ngFor="let supplier of supplierList" [value]="supplier.id" required>
                                {{supplier.name1}}(<span>{{supplier.supplierReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['supplierId'].valid">
                            {{'Purchase Order.Management.Please Select Supplier'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Select Project'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="getStoresByProject($event)">
                            <mat-option *ngFor="let project of projectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['projectId'].valid">
                            {{'Purchase Order.Management.Please Select Project'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <div class="col-md-2">
                        <button mat-raised-button color="primary"
                            matTooltip="{{'Purchase Order.Management.Add'|translate}}" (click)="addItem($event)">
                            <mat-icon class="mat-button-icon">add</mat-icon>
                            {{'Purchase Order.Management.Add Item'|translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Select Store'|translate}}<span>*</span></mat-label>
                        <mat-select formControlName="storeId">
                            <mat-option *ngFor="let store of storesList" [value]="store.id" required>
                                {{store.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['storeId'].valid">
                            {{'Purchase Order.Management.Please Select Store'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label> {{'Purchase Order.Management.Arriving Date'|translate}} </mat-label>
                        <input matInput [matDatepicker]="picker" [min]="currenrDate" formControlName="arrivingDate"
                            placeholder="Arriving Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="!orderForm.controls['arrivingDate'].valid">
                            {{'Purchase Order.Management.Arriving Date is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Remarks'|translate}}</mat-label>
                        <input matInput formControlName="remarks"  maxlength="100" />
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Purchase Order.Management.Billing Address'| translate}}</mat-label>
                        <textarea matInput formControlName="billindAddress"></textarea>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Purchase Order.Management.Shipping Address'| translate}}</mat-label>
                        <textarea matInput formControlName="shippingAddress"></textarea>
                    </mat-form-field>
                </div>

            </form>
            <div class="row">
                <form [formGroup]="itemFrom" class="col-md-12">
                    <div formArrayName="credentials"
                        *ngFor="let item of itemFrom.controls['credentials']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                            <h4>{{'Purchase Order.Management.Item'|translate}}{{i+1}}</h4>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <mat-label>{{'Purchase Order.Management.Select Item'|translate}}<span>*</span>
                                    </mat-label>
                                    <mat-select formControlName="itemId">
                                        <mat-option *ngFor="let item of itemList" [value]="item.id" required>
                                            {{item.name1}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="item.controls.itemId.invalid">
                                        {{'Purchase Order.Management.Please Select Item'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <mat-label>{{'Purchase Order.Management.Quantity'|translate}}</mat-label>
                                    <input matInput formControlName="quantity" required maxlength="5"
                                        (keypress)="numberOnly($event)" />
                                    <mat-error *ngIf="item.controls.quantity.invalid">
                                        {{'Purchase Order.Management.Quantity is Required'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <mat-label>{{'Purchase Order.Management.Expected Cost'|translate}}</mat-label>
                                    <input matInput formControlName="expectedCost" required maxlength="10"
                                        (keypress)="numberOnly($event)" />
                                    <mat-error *ngIf="item.controls.expectedCost.invalid">
                                        {{'Purchase Order.Management.Expected Cost is Required'|translate}}
                                    </mat-error>
                                </mat-form-field>

                                <div class="col-md-3">
                                    <button mat-raised-button color="warn" (click)="Delete(i)" title="Cancel"
                                        *ngIf="i>0">
                                        {{'Purchase Order.Management.Remove'|translate}}
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <mat-form-field class="col-md-9">
                                    <mat-label>{{'Purchase Order.Management.Comments'|translate}}</mat-label>
                                    <input matInput formControlName="comments"  maxlength="100" />
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary" 
                    (click)="saveOrder()">{{'Purchase Order.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onCancelClick()">{{'Purchase Order.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>

    </mat-card>
</div>
<div class="page-content" *ngIf="isEdit">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'Purchase Order.Management.Edit Purchase Order'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="orderForm">
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Purchase Reference'|translate}}</mat-label>
                        <input matInput formControlName="purchaseReference" maxlength="30" required />
                        <mat-error *ngIf="!orderForm.controls['purchaseReference'].valid">
                            {{'Purchase Order.Management.Purchase Reference is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Select Supplier'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="supplierId">
                            <mat-option *ngFor="let supplier of supplierList" [value]="supplier.id" required>
                                {{supplier.name1}}(<span>{{supplier.supplierReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['supplierId'].valid">
                            {{'Purchase Order.Management.Please Select Supplier'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Select Project'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="getStoresByProject($event)">
                            <mat-option *ngFor="let project of projectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['projectId'].valid">
                            {{'Purchase Order.Management. Please Select Project'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <div class="col-md-3">
                        <button mat-raised-button color="primary"
                            matTooltip="{{'Purchase Order.Management.Add'|translate}}" (click)="addItem($event)">
                            <mat-icon class="mat-button-icon">add</mat-icon>
                            {{'Purchase Order.Management.Add Item'|translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Select Store'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="storeId" (ngModelChange)="getStoresByProject($event)">
                            <mat-option *ngFor="let store of storesList" [value]="store.id" required>
                                {{store.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['storeId'].valid">
                            {{'Purchase Order.Management.Please Select Store'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <div class="col-md-3 cstm-date">
                        <label>{{'Purchase Order.Management.Arriving Date'|translate}} <span>*</span></label>
                        <p-calendar [showIcon]="true" name="calendar" [minDate]="currenrDate" dateFormat="dd/mm/yy"
                        [(ngModel)]="entryDate" formControlName="arrivingDate" ></p-calendar>
                    </div>
                   

                    <!-- <mat-form-field   >
                        <mat-label> {{'Purchase Order.Management.Arriving Date'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker"   [min]="currenrDate" formControlName="arrivingDate"
                            placeholder="Arriving Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="!orderForm.controls['arrivingDate'].valid">
                            {{'Purchase Order.Management.Arriving Date is Required'|translate}}
                        </mat-error>
                     
                    </mat-form-field> -->
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Purchase Order.Management.Remarks'|translate}}</mat-label>
                        <input matInput formControlName="remarks"  maxlength="100" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Purchase Order.Management.Billing Address'|translate}}</mat-label>
                        <textarea matInput formControlName="billindAddress"></textarea>
                    </mat-form-field>


                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Purchase Order.Management.Shipping Address'|translate}}</mat-label>
                        <textarea matInput formControlName="shippingAddress"></textarea>
                    </mat-form-field>
                </div>
            </form>
            <div class="row">
                <form [formGroup]="itemFrom" class="col-md-12">
                    <div formArrayName="credentials"
                        *ngFor="let item of itemFrom.controls['credentials']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                            <h4>{{'Purchase Order.Management.Item'|translate}} {{i+1}}</h4>
                            <div class="clearfix"></div>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <mat-label>{{'Purchase Order.Management.Select Item'|translate}}<span>*</span>
                                    </mat-label>
                                    <mat-select formControlName="itemId">
                                        <mat-option *ngFor="let item of itemList" [value]="item.id" required>
                                            {{item.name1}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="item.controls.itemId.invalid">
                                        {{'Purchase Order.Management.Please Select Item'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <mat-label>{{'Purchase Order.Management.Quantity'|translate}}</mat-label>
                                    <input matInput formControlName="quantity" required maxlength="5"
                                        (keypress)="numberOnly($event)" />
                                    <mat-error *ngIf="item.controls.quantity.invalid">
                                        {{'Purchase Order.Management.Quantity is required'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3">
                                    <mat-label>{{'Purchase Order.Management.Expected Cost'|translate}}</mat-label>
                                    <input matInput formControlName="expectedCost" required maxlength="10"
                                        (keypress)="numberOnly($event)" />
                                    <mat-error *ngIf="item.controls.expectedCost.invalid">
                                        {{'Purchase Order.Management.Expected Cost is required'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-3" *ngIf="i>0">
                                    <button mat-raised-button color="warn" (click)="Delete(i)" title="Cancel">
                                        {{'Purchase Order.Management.Remove'|translate}}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-9">
                                    <mat-label>{{'Purchase Order.Management.Comments'|translate}}</mat-label>
                                    <input matInput formControlName="comments" required maxlength="100" />
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary" 
                    (click)="saveOrder()">{{'Purchase Order.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onCancelClick()">{{'Purchase Order.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>

    </mat-card>
</div>
<div class="page-content" *ngIf="isView">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'Purchase Order.Management.Purchase Order Information'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Purchase Reference'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.purchaseReference}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Supplier Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.supplierName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Supplier Address'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.supplierAddress}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Project Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.projectName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Store Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.storeName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Arriving Date'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.arrivingDate| date: 'dd/MM/yyyy' }}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Status Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.statusName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Updated Date'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.updatedDate | date: 'dd/MM/yyyy'}}</b>&nbsp;&nbsp;
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Shipping Address'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.shippingAddress}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Billing Address'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.billingAddress}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Purchase Order.Management.Remarks'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{purchase.remarks}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>

            </div>


            <mat-card-actions>
                <div class="float-right" style="padding-top: 12px;padding-right: 15px;">
                    <button mat-raised-button (click)="closeViewpurchaseOrder()"
                        color="warn">{{'Purchase Order.Management.Close'|translate}}</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
        <div class="clearfix"></div>
    </mat-card>
</div>