<form #form="ngForm" [formGroup]="userProfileForm" novalidate (ngSubmit)="save()" fxLayout="column"
  [fxLayoutGap]="isEditMode ? '1em' : '0'" autocomplete="off">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
    <!-- <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.JobTitle' | translate}}</mat-label>
      <input matInput formControlName="jobTitle" [readonly]="!isEditMode" />
    </mat-form-field> -->

    <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.EmpId' | translate}}</mat-label>
      <input matInput formControlName="empId" [readonly]="!isNewUser" (keypress)="alphaNumaricsOnly($event)"
        maxlength="15" required />
      <mat-error *ngIf="!userProfileForm.controls['empId'].valid">
        {{'users.editor.EmployeeIdRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.Select Project' | translate}}<span>*</span></mat-label>
      <mat-select formControlName="projectId" multiple>
          <mat-option *ngFor="let project of projectsList" [value]="project.id">{{project.name1}}</mat-option>
      </mat-select>
      <mat-error *ngIf="!userProfileForm.controls['projectId'].valid">
        {{'users.editor.Please Select Project' | translate}} 
      </mat-error>
  </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">

    <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.Name 1' | translate}}</mat-label>
      <input matInput formControlName="name1" required  minlength="3" maxlength="50" />
      <mat-error *ngIf="userProfileForm.get('name1').hasError('required')">
        {{'users.editor.Name 1 is Required(minimum of 3 and maximum of 50 Characters)' | translate}}
      </mat-error>
      <mat-error *ngIf="userProfileForm.get('name1').hasError('minlength')">
        {{'Location.Management.Minimum of 3 Characters'|translate}}
      </mat-error>
      <!-- <mat-error *ngIf="!userProfileForm.controls['name1'].valid">
        {{'users.editor.Name1Required' | translate}}
      </mat-error> -->
    </mat-form-field>

    <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.Name 2' | translate}}</mat-label>
      <input matInput formControlName="name2" required maxlength="50" />
      <mat-error *ngIf="userProfileForm.get('name2').hasError('required')">
        {{'users.editor.Name 2 is Required(minimum of 3 and maximum of 50 Characters)' | translate}}
      </mat-error>
      <mat-error *ngIf="userProfileForm.get('name2').hasError('minlength')">
        {{'Location.Management.Minimum of 3 Characters'|translate}}
      </mat-error>
      <!-- <mat-error *ngIf="!userProfileForm.controls['name2'].valid">
        {{'users.editor.Name2Required' | translate}}
      </mat-error> -->
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
    <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.Email' | translate}}</mat-label>
      <input matInput formControlName="email" [class.auto-width]="emailConfirmed === false" maxlength="50"
        [readonly]="!isNewUser" required />
      <button *ngIf="emailConfirmed === false" type="button" (click)="sendVerificationEmail()"
        [disabled]="isSendingEmail" class="send-confirm-email" mat-button color="primary">
        [{{'users.editor.SendVerificationEmail' | translate}}]
      </button>
      <mat-error *ngIf="email.hasError('required')">
        {{'users.editor.Email is Required' | translate}}
      </mat-error>
      <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">
        {{'users.editor.InvalidEmail' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field [floatLabel]="floatLabels" fxFlex>
      <mat-label>{{'users.editor.PhoneNumber' | translate}}</mat-label>
      <input matInput formControlName="phoneNumber" [readonly]="!isNewUser" maxlength="12" minlength="10"
        (keypress)="numberOnly($event)" required />
      <mat-error *ngIf="userProfileForm.controls['phoneNumber'].hasError('required')">
        {{'users.editor.PhoneNumberRequired' | translate}}
      </mat-error>
      <mat-error *ngIf="userProfileForm.controls['phoneNumber'].hasError('minlength')">
        {{'users.editor.PhoneNumberMinLength' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">

    <mat-form-field [floatLabel]="floatLabels" fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
      <mat-label>{{'users.editor.User Name' | translate}}</mat-label>
      <input matInput formControlName="userName" [readonly]="!isNewUser" autocomplete="off" maxlength="30" required />
      <mat-error *ngIf="userProfileForm.get('userName').hasError('required')">
        {{'users.editor.User Name is Required(minimum of 3 and maximum of 50 Characters)' | translate}}
      </mat-error>
      <mat-error *ngIf="userProfileForm.get('userName').hasError('minlength')">
        {{'Location.Management.Minimum of 3 Characters'|translate}}
      </mat-error>
      <!-- <mat-error *ngIf="userName.hasError('required')">
        {{'users.editor.User Name is Required' | translate}}
      </mat-error> -->
    </mat-form-field>

    <mat-form-field fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
      <mat-label>{{'users.editor.Roles' | translate}}</mat-label>
      <mat-select formControlName="roles" [disabled]="isEditMode || !canAssignRoles" (ngModelChange)="onRoleSelectToAddProjects($event)" required>
        <mat-option *ngFor="let role of assignableRoles" [value]="role.name">
          <span matTooltip="{{role.description}}">{{role.name}}</span>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignedRoles.hasError('required')">
        {{'users.editor.RoleRequired' | translate}}
      </mat-error>
    </mat-form-field>



  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em"
    *ngIf="(isEditMode && !isNewUser && (userName.value != user.userName || confirmedEmailChanged)) || (isChangePassword && isEditingSelf)">
    <mat-form-field [floatLabel]="floatLabels" formGroupName="password" fxFlex>
      <mat-label>{{'users.editor.CurrentPassword' | translate}}</mat-label>
      <input matInput type="password" formControlName="currentPassword" maxlength="30" required />
      <mat-error *ngIf="currentPassword.hasError('required')">
        {{'users.editor.CurrentPasswordRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>

    <button mat-raised-button (click)="changePassword()" *ngIf="!(isChangePassword || isNewUser)"
      color="primary">{{'users.editor.ChangePassword' | translate}}</button>

    <div *ngIf="isChangePassword || isNewUser" formGroupName="password" maxlength="30" fxLayout="row"
      fxLayout.lt-md="column" fxLayoutGap="1em">

      <mat-form-field [floatLabel]="floatLabels" fxFlex>
        <mat-label>{{'users.editor.NewPassword' | translate}}</mat-label>
        <input matInput type="password" formControlName="newPassword" autocomplete="off" required />
        <mat-error *ngIf="newPassword.hasError('required')">
          {{'users.editor.NewPasswordRequired' | translate}}
        </mat-error>
        <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
          {{'users.editor.NewPasswordRules' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field [floatLabel]="floatLabels" fxFlex>
        <mat-label>{{'users.editor.Conform Password' | translate}}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" maxlength="30" required />
        <mat-error *ngIf="confirmPassword.hasError('required')">
          {{'users.editor.Conform Password is Required' | translate}}
        </mat-error>
        <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">
          {{'users.editor.PasswordMismatch' | translate}}
        </mat-error>
      </mat-form-field>

    </div>

  </div>

  <div class="clearfix space20"></div>
  <div *ngIf="isNewUser" fxLayout.lt-md="column" fxLayoutGap="1em">
     <div class="row">
    <div class="form-group col-6 pleft-10 pr-0 mr-0" fxFlex *ngFor="let doc of documentList">
      <label for="file">Upload User {{doc.description}}</label>
      <input #fileInput type="file" class="form-control" id="file" (change)="uploadFile(doc, $event)">
    </div>
  </div>
    <!-- <div class="form-group col-md-4 file-icon" *ngFor="let file of userFileInfo">
      <div>  User {{file.fileTypeName}}</div>
      <div class="clearfix space20"></div>
      <a href="{{file.fileLocation}}" target="_blank" *ngIf="file.documentType==2" download>
        <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
      </a>
      <a href="{{file.fileLocation}}" target="_blank" *ngIf="file.documentType==1">
        <img src="{{file.fileLocation}}" class="img-fluid" width="161" height="121"> &nbsp;&nbsp;&nbsp;</a>

      <a class="close2 color-red" *ngIf="file.documentType==1" (click)="onDeleteFile(file)">
        <mat-icon>cancel</mat-icon>
      </a>
      <a class="close1 color-red" *ngIf="file.documentType==2" (click)="onDeleteFile(file)">
        <mat-icon>cancel</mat-icon>
      </a>
    </div> -->
    <div class="clearfix"></div>
    <div class="row">
    <div class="form-group file-icon col-3" *ngFor="let info of fileRepositories">
      <div class="clearfix space20"></div>
      <a class="col-4" href="{{'data:image/jpg;base64,' + info.fileName}}" target="_blank" *ngIf="info.documentTypeId==isDocument"
        download>
        <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
      </a>
      <a class="col-4" href="{{'data:image/jpg;base64,'+ info.fileName}}" target="_blank" *ngIf="info.documentTypeId==isImage">
        <img src="{{'data:image/jpg;base64,'+ info.fileName}}" class="img-fluid" width="161" height="121">
        &nbsp;&nbsp;&nbsp;</a>
    </div>
  </div>
  </div>

  <div class="row" *ngIf="!isNewUser" fxLayout.lt-md="column" fxLayoutGap="1em">
    <div class="form-group col-6 pleft-0 pr-0 mr-0" *ngFor="let doc of editUserFilesList">
      <label for="file">Upload User {{doc.description}} </label>
      <input #fileInput type="file" class="form-control" id="file" (change)="uploadFile(doc, $event)">
    </div>
    <div class="form-group file-icon col-3" *ngFor="let file of userFileInfo">
      <div> User {{file.fileTypeName}}</div>
      <div class="clearfix space20"></div>
      <a class="col-4" href="{{file.fileLocation}}" target="_blank" *ngIf="file.documentType==isDocument" download>
        <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
      </a>
      <a class="col-4" href="{{file.fileLocation}}" target="_blank" *ngIf="file.documentType==isImage">
        <img src="{{file.fileLocation}}" class="img-fluid" width="161" height="121"> &nbsp;&nbsp;&nbsp;</a>
      <a class="close2 color-red" *ngIf="file.documentType==isImage" (click)="onDeleteFile(file)">
        <mat-icon>cancel</mat-icon>
      </a>
      <a class="close1 color-red" *ngIf="file.documentType==isDocument" (click)="onDeleteFile(file)">
        <mat-icon>cancel</mat-icon>
      </a>
    </div>
    <div class="form-group file-icon col-2" *ngFor="let info of fileRepositories">
      <div class="clearfix space20"></div>
      <a href="{{'data:image/jpg;base64,' + info.fileName}}" class="col-3" target="_blank" *ngIf="info.documentTypeId==isDocument"
        download>
        <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
      </a>
      <a target="_blank" *ngIf="info.documentTypeId==isImage" class="col-2">
        <img src="{{'data:image/jpg;base64,'+ info.fileName}}" class="img-fluid" width="161" height="121">
        &nbsp;&nbsp;&nbsp;</a>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">

    <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
      <mat-checkbox formControlName="isEnabled">{{'users.editor.Enabled' | translate}}</mat-checkbox>
    </div>
    <div>
      <button mat-button *ngIf="user.isLockedOut" (click)="unlockUser()" [disabled]="isSaving" color="accent">
        <mat-icon class="mat-button-icon">lock_open</mat-icon>{{'users.editor.Unblock' | translate}}
      </button>
    </div>
  </div>
  <div>&nbsp;</div>
</form>