<app-page-header title="AssetGroup" icon="assignment_ind"></app-page-header>
<div class="page-content" [hidden]="isAdding">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Asset.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
            <mat-table [dataSource]="dataSource" matSort matSortActive="assetRef1" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="name1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name 1</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name2">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name 2</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name2}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetRef1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Group Reference 1</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.assetRef1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetRef2">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Group Reference 2</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.assetRef2}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetMake">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="just-cont-left small-cell1">Asset Group Make</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="small-cell1 just-cont-left"> {{row.assetMake}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetModel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="small-cell just-cont-left align-item-center"><span class="text-left">Asset Group Model</span></mat-header-cell>
                    <mat-cell *matCellDef="let row" class="small-cell just-cont-left align-item-center"> <span class="text-left">{{row.assetModel}}</span> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetType">
                    <mat-header-cell class="small-cell text-left" *matHeaderCellDef mat-sort-header><span class="text-left">Asset Group Type</span></mat-header-cell>
                    <mat-cell class="small-cell text-left" *matCellDef="let row"><span class="text-left"> {{row.assetType}} </span></mat-cell>
                </ng-container>
                <ng-container matColumnDef="assetCapacity">
                    <mat-header-cell class="just-cont-left" *matHeaderCellDef mat-sort-header><span class="text-left">Asset Group Capacity</span></mat-header-cell>
                    <mat-cell *matCellDef="let row" class="just-cont-left"><span class="text-left"> {{row.assetCapacity}}</span> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="updatedDate">
                    <mat-header-cell class="small-cell just-cont-center" *matHeaderCellDef mat-sort-header>Updated Date</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="small-cell just-cont-center"> {{row.updatedDate| date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header>
                        {{'project.management.IsActive' | translate}}</mat-header-cell>
                    <mat-cell class="just-cont-center small-cell" *matCellDef="let row">
                        <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                        <button mat-button color="primary" matTooltip="Add" (click)="onEditAssetGroup()">
                            <mat-icon class="mat-button-icon">add</mat-icon>Add Asset Group
                        </button>
                    </mat-header-cell>
                    <mat-cell class="just-cont-center" *matCellDef="let row">
                        <button mat-icon-button matTooltip="Edit" (click)="onEditAssetGroup(row)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
    
                        <button mat-icon-button matTooltip="Delete" (click)="confirmDelete(row)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
                <p>{{'project.management.No Records Found'|translate}}</p>
            </div>
            <div style="text-align: center;" *ngIf="displayNoRecords">
                <p>{{'project.management.No Search Results Found'|translate}}</p>
            </div>
            <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
    </div>
</div>



 <div class="page-content" [hidden]="!isAdding"> 
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewAssetGroup"> Add Asset Group</mat-card-title>
            <mat-card-title *ngIf="!isNewAssetGroup"> Edit Asset Group</mat-card-title>
        </mat-card-header>        
        <br>
        <mat-card-content>
            <form [formGroup]="assetGroupForm">
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'site.management.Name1' | translate}}</mat-label>
                        <input matInput formControlName="agName1" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agName1'].valid">
                            {{'site.management.Name1isrequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'site.management.Name2' | translate}}</mat-label>
                        <input matInput formControlName="agName2" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agName2'].valid">
                            {{'site.management.Name2isrequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Asset.Management.AssetGroupReference1' | translate}}</mat-label>
                        <input matInput formControlName="agRef1" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agRef1'].valid">
                            {{'Asset.editor.assetGroupRef1Required' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Asset.Management.AssetGroupReference2' | translate}}</mat-label>
                        <input matInput formControlName="agRef2" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agRef2'].valid">
                            {{'Asset.editor.assetGroupRef2Required' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Asset.Management.AssetGroupMake' | translate}}</mat-label>
                        <input matInput formControlName="agMake" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agMake'].valid">
                            {{'Asset.editor.assetGroupMakerequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Asset.Management.AssetGroupModel' | translate}}</mat-label>
                        <input matInput formControlName="agModel" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agModel'].valid">
                            {{'Asset.editor.assetGroupModelrequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Asset.Management.AssetGroupType' | translate}}</mat-label>
                        <input matInput formControlName="agType" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agType'].valid">
                            {{'Asset.editor.assetGroupTyperequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Asset.Management.AssetGroupCapacity' | translate}}</mat-label>
                        <input matInput formControlName="agCapacity" required />
                        <mat-error *ngIf="!assetGroupForm.controls['agCapacity'].valid">
                            {{'Asset.editor.assetGroupCapacityrequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-checkbox class="col-md-2" formControlName="isActive">{{'site.management.IsActive' | translate}}
                    </mat-checkbox>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="save()">{{'site.management.save' | translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onAssetGroupCancel()">{{'site.management.cancel' | translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>

    </mat-card>
</div> 