<div class="page-content">
    <!-- <div class="row"> -->
    <div class="clearfix space20"></div>
    <form [formGroup]="searchForm">
        <div class="row">
            <mat-form-field class="col-md-2">
                <mat-label>{{'Assets.Management.SiteName1'|translate}} *</mat-label>
                <mat-select formControlName="siteId" [(ngModel)]="selectedSite"
                    (ngModelChange)="getProjectsByUserIdandSiteId($event)" (click)="onChangeClick()">
                    <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                        {{site.name1}}(<span>{{site.siteReference}}</span>)
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-2">
                <mat-label>{{'Assets.Management.ProjectName'|translate}} *</mat-label>
                <mat-select formControlName="projectId" [(ngModel)]="selectedProject">
                    <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                        {{project.name1}}(<span>{{project.projectReference}}</span>)
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-2">
                <mat-label>{{'Dashboard.Management.From Date'|translate}} </mat-label>
                <input matInput [matDatepicker]="picker"  formControlName="fromDate"
                    placeholder="Start Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
            <mat-form-field class="col-md-2">
                <mat-label>{{'Dashboard.Management.To Date'|translate}} </mat-label>
                <input matInput [matDatepicker]="picker1" [min]="currenrDate" formControlName="toDate"
                    placeholder="End Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-2">
                <mat-label>{{'Work Order.Management.Select Work Type'|translate}} <span>*</span></mat-label>
                <mat-select formControlName="workTypeId" [(ngModel)]="selectedType">
                    <mat-option *ngFor="let work of workTypeList" [value]="work.id" required>
                        {{work.name1}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-md-1">
                <button mat-raised-button (click)="onSearchClick()" color="primary">{{'Dashboard.Management.Search'|translate}}</button>
            </div>
        </div>
    </form>
    <div class="clearfix space20"></div>
    <!-- </div> -->
    <div class="row">
        <div class="col-md-4">
            <div class="d-block box-shadow1">
                <b style="font-size: 15px;">{{'Dashboard.Management.No of Work Orders'|translate}}</b>
                <hr class="bg-blue" />
                <!-- <canvas id="barChart"></canvas> -->
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" 
                     [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
        
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="d-block box-shadow1">
                <b style="font-size: 15px;">{{'Dashboard.Management.No of Work Orders Planned by Trade'|translate}}</b>
                <hr class="bg-blue" />
                <canvas baseChart [datasets]="secondbarChartData" [labels]="secondbarChartLabels" 
                     [legend]="secondbarChartLegend" [chartType]="secondbarChartType">
                </canvas>
                <!-- <canvas id="secondbarChart"></canvas> -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-block box-shadow1">
                <b style="font-size: 15px;">{{'Dashboard.Management.No of Work Orders Completed by Trade'|translate}}</b>
                <hr class="bg-blue" />
                <canvas baseChart [datasets]="thirdbarChartData" [labels]="thirdbarChartLabels" 
                     [legend]="thirdbarChartLegend" [chartType]="thirdbarChartType">
                </canvas>
                <!-- <canvas id="thirdbarChart"></canvas> -->
            </div>
        </div>

    </div>
    <div class="clearfix space20"></div>
    <div class="row">
        <div class="chart-wrapper col-md-6">
            <div class="d-block box-shadow1">
                <b style="font-size: 15px;">{{'Dashboard.Management.No of Orders by Work Status'|translate}} </b>
                <hr class="bg-blue" />
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColor"
                    [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-block box-shadow1">
                <b style="font-size: 15px;">{{'Dashboard.Management.Work Order Backlog Trend (Orders pending)'|translate}}</b>
                <hr class="bg-blue" />
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>

    </div>

</div>