<app-page-header title="PMProcedures" icon="assignment_ind"></app-page-header>
<div class="page-content" [hidden]="isAdding">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Preventive Maintenance.Management.Search for Preventive Maintenance'|translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table class="table-lg" [dataSource]="dataSource" matSort matSortActive="preventiveRefId"
            matSortDirection="asc" matSortDisableClear>
            <!-- <ng-container matColumnDef="assetName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.assetName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="siteName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Site Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.siteName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.projectName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="locationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.locationName}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="preventiveRefId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Preventive Reference'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.preventiveRefId}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="typeOfMaintainanceName">
                <mat-header-cell class="just-cont-center small-cell1"*matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Type Of Maintainance'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row"> {{row.typeOfMaintainanceName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="daysApplicable">
                <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.DaysApplicable'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row"> {{row.daysApplicable}} </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Start Date'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.startDate| date: 'dd/MM/yyyy '}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="durationInHours">
                <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Duration In Hours'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row"> {{row.durationInHours}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="technicianName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Technician Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.technicianName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="statusTypeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Status Type Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.statusTypeName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Details'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.details}} </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="isActive">
                <mat-header-cell class="just-cont-center small-cell1" *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.IsActive'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary"
                        matTooltip="{{'Preventive Maintenance.Management.Add'|translate}}" (click)="editClick()">
                        <mat-icon class="mat-button-icon">add</mat-icon>
                        {{'Preventive Maintenance.Management.Add Maintainance'|translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button matTooltip="{{'Preventive Maintenance.Management.Edit'|translate}}"
                        (click)="editClick(row)" *ngIf="row.statusTypeName != 'Approved' && row.statusTypeName != 'Closed'">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button class="z-index" mat-icon-button *ngIf="row.statusTypeName == 'Open'" matTooltip="{{'Work Order.Management.Accept'|translate}}"
                        (click)="OnAcceptPmProcedure(row)">
                        <mat-icon color="primary">thumb_up</mat-icon>
                    </button>
                    <button class="z-index" mat-icon-button matTooltip="{{'Work Order.Management.Close'|translate}}"
                        *ngIf="row.statusTypeName == 'Approved'" >
                        <mat-icon color="warn">cancel</mat-icon>
                    </button>
                    <!-- <button class="just-cont-center" mat-icon-button
                        matTooltip="{{'Preventive Maintenance.Management.Delete'|translate}}"
                        (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button> -->
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'Preventive Maintenance.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'Preventive Maintenance.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" *ngIf="isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewMaintanance">{{'Preventive Maintenance.Management.Add Maintainance'|translate}}
            </mat-card-title>
            <mat-card-title *ngIf="!isNewMaintanance">
                {{'Preventive Maintenance.Management.Edit Maintainance'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="maintenanceForm">
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Preventive Reference'|translate}}</mat-label>
                        <input matInput formControlName="preventiveRefId" required />
                        <mat-error *ngIf="!maintenanceForm.controls['preventiveRefId'].valid">
                            {{'Preventive Maintenance.Management.Preventive Reference is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Type Of Maintainance'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="typeOfMaintainanceId"  (ngModelChange)="onTypeChange($event)">
                            <mat-option *ngFor="let tech of TypesList" [value]="tech.typeCdDmtId" required>
                                {{tech.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['assetId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Type of Maintainance'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label> {{'Preventive Maintenance.Management.DaysApplicableforthisProcedure'|translate}}
                        </mat-label>
                        <input matInput formControlName="daysApplicable" required (blur)="onDaysEnter($event.target.value)"  (keypress)="numberOnly($event)" />
                        <mat-error *ngIf="!maintenanceForm.controls['daysApplicable'].valid">
                            {{'Preventive Maintenance.Management.DaysApplicableisRequired'|translate}}
                            
                        </mat-error> 
                    </mat-form-field>

                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>Priority</mat-label>
                        <input matInput formControlName="priority"  required/>
                        <mat-error *ngIf="!maintenanceForm.controls['priority'].valid">
                            Priority is Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Select Site'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="siteId" (ngModelChange)="getProjectsByUserIdandSiteId($event)">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['siteId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Site'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Select Project'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="onSelectProjectByAssets($event)">
                            <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['projectId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Project'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Select Location'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="locationId" (ngModelChange)="onSelectLocationByProject($event)">
                            <mat-option *ngFor="let location of locationsList" [value]="location.id" required>
                                {{location.name1}}(<span>{{location.locationReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['locationId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Location'|translate}}
                        </mat-error>
                    </mat-form-field> -->
                    <!-- <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Select Asset'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="assetId"  (ngModelChange)="onSelectAssetClick($event)">
                            <mat-option *ngFor="let asset of assetList" [value]="asset.id" required>
                                {{asset.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['assetId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Asset'|translate}}
                        </mat-error>
                    </mat-form-field> -->
                </div>
                <div class="row">
                    <!-- <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Start Date'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="currenrDate" formControlName="startDate"
                            placeholder="Start Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="!maintenanceForm.controls['startDate'].valid">
                            {{'Preventive Maintenance.Management.Start Date is Required'|translate}}
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.SelectJobPlan'|translate}}<span>*</span>
                        </mat-label>
                        <mat-select formControlName="jobId" (ngModelChange)="onSelectJob($event)">
                            <mat-option *ngFor="let job of jobPlanList" [value]="job.id" required>
                                {{job.name}}(<span>{{job.jobReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['jobId'].valid">
                            {{'Preventive Maintenance.Management.PleaseselectJobPlan'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Duration in Hours'|translate}}</mat-label>
                        <input matInput formControlName="durationInHours" readonly  (keypress)="numberOnly($event)" />
                        <!-- <mat-error *ngIf="!maintenanceForm.controls['durationInHours'].valid">
                            {{'Preventive Maintenance.Management.Duration is required'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                    <!-- <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Techinician'|translate}}</mat-label>
                        <input matInput formControlName="technicianId" readonly  />
                        <mat-error *ngIf="!maintenanceForm.controls['durationInHours'].valid">
                            {{'Preventive Maintenance.Management.Duration is required'|translate}}
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Techinician'|translate}}</mat-label>
                        <mat-select formControlName="technicianId">
                            <mat-option *ngFor="let tech of workTechList" [value]="tech.id" required>
                                {{tech.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['technicianId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Technician'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Select Asset'|translate}}
                        </mat-label>
                        <input matInput formControlName="assetId" required (click)="onSelectAssetClick($event)" />
                        <mat-error *ngIf="!maintenanceForm.controls['assetId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Asset'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Details'|translate}}</mat-label>
                        <input matInput formControlName="details" />
                        <!-- <mat-error *ngIf="!maintenanceForm.controls['details'].valid">
                            detailsisrequired
                        </mat-error> -->
                    </mat-form-field>
                    
                </div>
            </form>
            <div>
                <h5> {{'Preventive Maintenance.Management.JobPlanTasks'|translate}}</h5>
                <div class="row" *ngFor="let jobTask of jobTaskList">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.TaskName'|translate}}</mat-label>
                        <input matInput readonly [(ngModel)]="jobTask.name" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Duration in Hours'|translate}}</mat-label>
                        <input matInput readonly [(ngModel)]="jobTask.duration" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.TradeName'|translate}}</mat-label>
                        <input matInput readonly [(ngModel)]="jobTask.astTradeName" />
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="saveMaintenance()">{{'Preventive Maintenance.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onCancelClick()">{{'Preventive Maintenance.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>