<h1 mat-dialog-title>{{'Preventive Maintenance.Management.AcceptPMProcedure'|translate}}</h1>
<div mat-dialog-content>
    <div>
        <p>{{'Preventive Maintenance.Management.Are you sure you want to Approve this Procedure ?'|translate}} </p>
    </div>
</div>
<div mat-dialog-actions class="float-right" style="padding-top: 12px;">
    <button mat-raised-button color="primary" (click)="onAceptClick()">{{'Preventive Maintenance.Management.Accept'|translate}} </button>
    <button mat-raised-button (click)="Cancel()" color="warn">{{'Preventive Maintenance.Management.Cancel'|translate}} </button>
</div>