
<h1  mat-dialog-title [dir]="textDir"> {{lookUpHeading}}</h1> 
<div mat-dialog-content [dir]="textDir">   
    <app-lookup-editor #lookupeditor [lookUp]="data.lookUp" ></app-lookup-editor>
</div>
<div mat-dialog-actions>
    <button  mat-raised-button [dir]="textDir"  (click)="lookupeditor.save()"  color="primary">{{'site.management.save' | translate}}</button>
    <button  mat-raised-button [dir]="textDir" (click)="cancel()" color="warn">{{'site.management.cancel' | translate}}</button>   
</div>
<div class="clearfix space20"></div>