<h1 mat-dialog-title [dir]="textDir">{{userName ? ('users.management.EditUser' | translate:userName) : ('users.management.NewUser' | translate)}}</h1>
<div mat-dialog-content [dir]="textDir">
    <user-editor [user]="data.user" [roles]="data.roles" isEditMode="true"></user-editor>
</div>
<div mat-dialog-actions>
    <button [dir]="textDir" mat-raised-button (click)="editUser.save();" color="primary">{{'users.editor.Save'|translate}}</button>
    <button [dir]="textDir" mat-raised-button (click)="cancel()" color="warn">{{'users.editor.Cancel'| translate}}</button>
</div>
