<form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="app-login-form">
  <mat-form-field class="app-validate">
    <input matInput formControlName="userName" placeholder="{{'mainMenu.Username'|translate}}" autocomplete="username" (keydown.enter)="enterKeyDown()">
    <mat-error *ngIf="userName.hasError('required')">
      {{'mainMenu.Username is'|translate}}<strong>{{'mainMenu.required'|translate}}</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="app-validate">
    <input matInput formControlName="password" placeholder="{{'mainMenu.Password'|translate}}" autocomplete="current-password" (keydown.enter)="enterKeyDown()" type="password">
    <mat-error *ngIf="password.hasError('required')">
     {{'mainMenu.Password is'|translate}} <strong>{{'mainMenu.required'|translate}}</strong>
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="rememberMe" (keydown.enter)="enterKeyDown()">{{'mainMenu.Remember me!'|translate}}</mat-checkbox>
  <!-- https://github.com/angular/material2/issues/8798 -->
  <div>&nbsp;</div>

</form>
