<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <mat-card class="mat-elevation-z6 m-auto">
      <div class="text-center">
        <!-- <mat-card-title>{{'mainMenu.Login' | translate}}</mat-card-title> -->
        <img class="img-fluid m-auto" src="assets/images/arkaan-logo-orange.png" >
      </div>
      <mat-card-content>
        <app-login-control [isModal]="false" (enterKeyPress)="loginControl.login()"></app-login-control>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="loginControl.isLoading" (click)="loginControl.login()">
          <mat-spinner *ngIf="loginControl.isLoading" [diameter]="20"></mat-spinner>{{'mainMenu.Login' | translate | uppercase}}
        </button>
        <div fxFlex></div>
        <a mat-button routerLink="/recoverpassword">{{'mainMenu.FORGOT PASSWORD'|translate}}</a>
        <!-- <mat-divider [vertical]="true"></mat-divider>
        <a mat-button routerLink="/register">REGISTER</a> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
