<!-- <app-page-header title="Supplier" icon="assignment_ind"></app-page-header> -->
<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.Supplier'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="supplierList.length==0">{{'mainMenu.Export'|translate}}</button>
</header>

<div class="page-content" [hidden]="isAddingsupplier">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Supplier.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table class="table-lg" [dataSource]="dataSource" matSort matSortActive="supplierReference" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="supplierReference">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Supplier Reference'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.supplierReference}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Name 1'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Name 2'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Address'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Email'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contactNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Contact Number'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.contactNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="note">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Supplier.Management.Note'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.note}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="isActive">
                <mat-header-cell class="just-cont-center small-cell1" *matHeaderCellDef mat-sort-header>
                    {{'Supplier.Management.IsActive' | translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary" matTooltip="{{'Supplier.Management.Add'|translate}}" (click)="editClick()">
                        <mat-icon class="mat-button-icon">add</mat-icon>{{'Supplier.Management.Add Supplier'| translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button matTooltip="{{'Supplier.Management.Edit'|translate}}" (click)="editClick(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="{{'Supplier.Management.Delete'|translate}}" [hidden]="!row.isActive" (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'Supplier.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'Supplier.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" *ngIf="isAddingsupplier">
    <mat-card>
        <br>
        <mat-card-content>
            <form [formGroup]="supplierForm">
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Supplier Reference'|translate}}</mat-label>
                        <input matInput formControlName="supplierReference" required maxlength="50" />
                          <mat-error *ngIf="supplierForm.get('supplierReference').hasError('required')">
                            {{'Supplier.Management.Supplier Reference is required(minimum of 3 and maximum of 50 Characters)'|translate}} 
                          </mat-error>
                          <mat-error *ngIf="supplierForm.get('supplierReference').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!supplierForm.controls['supplierReference'].valid">
                            {{'Supplier.Management.Supplier Reference is required(minimum of 3 and maximum of 50 Characters)'|translate}} 
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Name 1'|translate}}</mat-label>
                        <input matInput formControlName="name1" required maxlength="50" />
                        <mat-error *ngIf="supplierForm.get('name1').hasError('required')">
                            {{'Supplier.Management.Name 1 is required(Name must be at least 3 characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="supplierForm.get('name1').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!supplierForm.controls['name1'].valid">
                            {{'Supplier.Management.Name 1 is required(Name must be at least 3 characters)'|translate}} 
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Name 2'|translate}}</mat-label>
                        <input matInput formControlName="name2" required maxlength="50" />
                        <mat-error *ngIf="supplierForm.get('name2').hasError('required')">
                            {{'Supplier.Management.Name 2 is required(Name must be at least 3 characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="supplierForm.get('name2').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!supplierForm.controls['name2'].valid">
                            {{'Supplier.Management.Name 2 is required(Name must be at least 3 characters)'|translate}} 
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Address'|translate}}</mat-label>
                        <input matInput formControlName="address" required maxlength="100" />
                        <mat-error *ngIf="supplierForm.get('address').hasError('required')">
                            {{'Supplier.Management.Address is required(minimum of 3 and maximum of 100 Characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="supplierForm.get('address').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!supplierForm.controls['address'].valid">
                            {{'Supplier.Management.Address is required(minimum of 3 and maximum of 100 Characters)'|translate}} 
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Email'|translate}}</mat-label>
                        <input matInput formControlName="email" required maxlength="50" />
                        <mat-error *ngIf="supplierForm.get('email').hasError('required')">
                            {{'Supplier.Management.Email is required(minimum of 3 and maximum of 50 Characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="supplierForm.get('email').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="supplierForm.controls['email'].hasError('required')">
                            {{'Supplier.Management.Email is required(minimum of 3 and maximum of 50 Characters)'|translate}}
                        </mat-error> -->
                        <mat-error *ngIf="supplierForm.controls['email'].hasError('pattern')">
                            {{'Supplier.Management.Invalid Email'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Contact Number'|translate}}</mat-label>
                        <input matInput formControlName="contactNumber"   (keypress)="numberOnly($event)"  maxlength="12" minlength="10" required />
                        <mat-error *ngIf="supplierForm.get('contactNumber').hasError('required')">
                            {{'Supplier.Management.Contact Number is required(minimum of 10 and maximum of 12 Characters)'|translate}}
                          </mat-error>
                          <mat-error *ngIf="supplierForm.get('contactNumber').hasError('minlength')">
                            {{'Location.Management.Minimum of 10 Numbers'|translate}}
                          </mat-error>
                        <!-- <mat-error *ngIf="!supplierForm.controls['contactNumber'].valid">
                            {{'Supplier.Management.Contact Number is required(minimum of 10 and maximum of 12 Characters)'|translate}} 
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Supplier.Management.Note'|translate}}</mat-label>
                        <input matInput formControlName="note" maxlength="50" />
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="file">{{'Supplier.Management.UploadImage'|translate}} </label>
                        <input type="file" class="form-control" id="file" accept="image/*"
                            (change)="onSelectFiles($event)">
                    </div>
                    <div class="col-md-4" *ngIf="isNewsupplier">
                        <img [src]="image" style="height: 80px;" alt="" />
                    </div>
                    <div class="col-md-4" *ngIf="!isNewsupplier">
                        <img [src]="supplierData.fileLocation" style="height: 80px;" alt="" />
                    </div>
                </div>
                <!-- <div class="row">
                        <input type="file"  (change)="uploadFile($event)" class="form-control col-md-4" formControlName="file" style="text-transform: capitalize;"  required maxlength="50" />
                     
                </div> -->
                <mat-checkbox formControlName="isActive">{{'Supplier.Management.IsActive'|translate}}</mat-checkbox>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary" (click)="savesupplier()">{{'Supplier.Management.save'|translate}}</button>
                <button mat-raised-button color="warn" (click)="onCancelClick()">{{'Supplier.Management.cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>