<form #form="ngForm" [formGroup]="LookUpForm" (ngSubmit)="save()">
    <div class="row">
       <mat-form-field class="col-md-4">
            <mat-label>name1</mat-label>
            <input matInput formControlName="name1" required />
            <mat-error *ngIf="!LookUpForm.controls['name1'].valid">
                name1 is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>name2</mat-label>
            <input matInput formControlName="name2" required />
            <mat-error *ngIf="!LookUpForm.controls['name2'].valid">
                name1 is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>remarks</mat-label>
            <input matInput formControlName="remarks" required />
            <mat-error *ngIf="!LookUpForm.controls['remarks'].valid">
                name1 is required
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="col-md-4">
            <mat-label>updatedDate</mat-label>
            <input matInput formControlName="updatedDate" required />
            <mat-error *ngIf="!LookUpForm.controls['updatedDate'].valid">
                name1 is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>updatedByUser</mat-label>
            <input matInput formControlName="updatedByUser" required />
            <mat-error *ngIf="!LookUpForm.controls['updatedByUser'].valid">
                name1 is required
            </mat-error>
        </mat-form-field> -->
    </div>
  <div class="row">
    <mat-form-field class="col-md-4">
        <mat-label>selectCategory</mat-label>
        <mat-select formControlName="selectCategory">
                <mat-option *ngFor="let doc of lookUplist" [value]="doc.typeCdDmtId">
                    {{doc.description}}
                </mat-option>
            </mat-select>
           
        </mat-form-field>
    
 </div>


    <!-- <mat-form-field fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
    <mat-label>selectCategory</mat-label>
    <mat-select formControlName="roles" required>
      <mat-option *ngFor="let role of assignableRoles" [value]="role.name">
        <span matTooltip="{{role.description}}">{{role.name}}</span>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="assignedRoles.hasError('required')">
      {{'users.editor.RoleRequired' | translate}}
    </mat-error>
  </mat-form-field> -->

    <div class="col-md-12">
        <mat-checkbox formControlName="isActive">isActive</mat-checkbox>
    </div>

</form>