<app-page-header title="Assets" icon="assignment_ind"></app-page-header>
<div class="page-content" [hidden]="isAdding">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Asset.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" class="table-xl" matSort matSortActive="assetLocationRef"
            matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="assetLocationRef">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.Asset Refrerence'|translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.assetLocationRef}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.Name1'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.Name2'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name2}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="siteName1">
                <mat-header-cell class="small-cell1" *matHeaderCellDef mat-sort-header>{{'Assets.Management.SiteName'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="small-cell1"> {{row.siteName1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectName1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Assets.Management.ProjectName'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.projectName1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="locationName1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.LocationName'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.locationName1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="astGroupName1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.assetGroupName'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.astGroupName1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="astTradeName1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.assetTradeName'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.astTradeName1}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="daysApplicable">
                <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header
                    class="just-cont-center">
                    {{'Assets.Management.DaysApplicable'|translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row" class="just-cont-center">
                    {{row.daysApplicable}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="assetSize">
                <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header
                    class="just-cont-center">
                    {{'Assets.Management.AssetSize'|translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row" class="just-cont-center">
                    {{row.assetSize}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="assetCapacity">
                <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header
                    class="just-cont-center">
                    {{'Assets.Management.Asset Capacity'|translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row" class="just-cont-center">
                    {{row.assetCapacity}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="astFixedDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="just-cont-center small-cell">
                    {{'Assets.Management.assetFixedDate'|translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row">
                    {{row.astFixedDate | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="updatedDate">
                <mat-header-cell *matHeaderCellDef class="small-cell just-cont-center" mat-sort-header>
                    {{'project.management.UpdatedDate' | translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row">
                    {{row.updatedDate | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container> -->
            <!-- <ng-container matColumnDef="isActive">
                <mat-header-cell class="just-cont-center small-cell" *matHeaderCellDef mat-sort-header>
                    {{'project.management.IsActive' | translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell" *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary" *ngIf="canAddAssets"
                        matTooltip="{{'Assets.Management.Add'|translate}}" (click)="onEditAsset()">
                        <mat-icon class="mat-button-icon">add</mat-icon>
                        {{'Assets.Management.AddAsset'|translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button *ngIf="canEditAssets" matTooltip="{{'Assets.Management.Edit'|translate}}"
                        (click)="onEditAsset(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="{{'Assets.Management.Delete'|translate}}"
                        [hidden]="!row.isActive" *ngIf="canDeleteAssets" (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'Assets.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'Assets.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-xl" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" [hidden]="!isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewAsset">{{'Assets.Management.AddAsset'|translate}}</mat-card-title>
            <mat-card-title *ngIf="!isNewAsset">{{'Assets.Management.EditAsset'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="assetLocationForm">

                <div class="row">

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetReference'|translate}} </mat-label>
                        <input appTitleCase matInput formControlName="assetRef" required maxlength="50" />
                        <mat-error *ngIf="!assetLocationForm.controls['assetRef'].valid">
                            {{'Assets.Management.AssetReferenceisRequired'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.Name1'|translate}} </mat-label>
                        <input matInput formControlName="name1" required maxlength="50" />
                        <mat-error *ngIf="!assetLocationForm.controls['name1'].valid">
                            {{'Assets.Management.NameisRequired'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.Name2'|translate}}</mat-label>
                        <input matInput formControlName="name2" required maxlength="50" />
                        <mat-error *ngIf="!assetLocationForm.controls['name2'].valid">
                            {{'Assets.Management.Name2isRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetGroup'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="assetGroup" >
                            <mat-option *ngFor="let assGroup of assetGroupList" [value]="assGroup.id" required>
                                {{assGroup.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetLocationForm.controls['assetGroup'].valid">
                            {{'Assets.Management.Please Select AssetGroup'| translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetType'|translate}}</mat-label>
                        <input matInput formControlName="assetType" />
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetMake'|translate}}</mat-label>
                        <input matInput formControlName="assetMake" />
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetModel'|translate}}</mat-label>
                        <input matInput formControlName="assetModel" />
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetSize'|translate}}</mat-label>
                        <input matInput formControlName="assetSize" />
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.Asset Capacity'|translate}}</mat-label>
                        <input matInput formControlName="assetRef2" />
                    </mat-form-field>

                </div>

                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetTrade'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="assetTrade">
                            <mat-option *ngFor="let assTrade of assetTradeList" [value]="assTrade.id" required>
                                {{assTrade.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetLocationForm.controls['assetTrade'].valid">
                            {{'Assets.Management.PleaseSelectAssetTrade'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.AssetFixedDate'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="assetFixDate"
                            placeholder="Asset Fixed Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="!assetLocationForm.controls['assetFixDate'].valid">
                            {{'Assets.Management.AssetFixedDateisRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.Days Applicable'|translate}}</mat-label>
                            <input matInput formControlName="daysApplicable"  required/>
                       
                            <mat-error *ngIf="!assetLocationForm.controls['daysApplicable'].valid">
                                {{'Assets.Management.Days Applicable is Required'|translate}} 
                            </mat-error> 
                        <!-- <mat-select formControlName="assetCounter">
                            <mat-option *ngFor="let counter of counterList" [value]="counter.id" required>
                                {{counter.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetLocationForm.controls['assetCounter'].valid">
                            {{'Assets.Management.PleaseSelectAssetCounter'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                   
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.SiteName1'|translate}}*</mat-label>
                        <mat-select formControlName="siteId" (ngModelChange)="getProjectsByUserIdandSiteId($event)">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetLocationForm.controls['siteId'].valid">
                            {{'Assets.Management.Please Select Site Name'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.ProjectName'|translate}}*</mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="onSelectProjectByLocation($event)" >
                            <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetLocationForm.controls['projectId'].valid">
                            {{'Assets.Management.Please Select Project Name'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Assets.Management.LocationName'|translate}}*</mat-label>
                        <mat-select formControlName="locationId">
                            <mat-option *ngFor="let location of locationsList" [value]="location.id" required>
                                {{location.name1}}(<span>{{location.locationReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetLocationForm.controls['locationId'].valid">
                            {{'Assets.Management.Please Select Location Name'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="row" *ngIf="isNewAsset">
                    <div class="form-group col-md-6" *ngFor="let doc of documentList;let index=i">
                        <label for="file">{{'Assets.Management.Upload Asset'|translate}} {{doc.description}}
                            <span></span></label>
                        <input #fileInput type="file" class="form-control" id="file" (change)="uploadFile(doc, $event)">
                    </div>
                    <div class="form-group col-md-4 file-icon" *ngFor="let info of assetRepositories">
                        <div class="clearfix space20"></div>
                        <a href="{{'data:image/jpg;base64,' + info.fileName}}" target="_blank"
                            *ngIf="info.documentTypeId==isDocument" download>
                            <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
                        </a>
                        <a href="{{'data:image/jpg;base64,'+ info.fileName}}" target="_blank"
                            *ngIf="info.documentTypeId==isImage">
                            <img src="{{'data:image/jpg;base64,'+ info.fileName}}" class="img-fluid" width="161"
                                height="121">
                            &nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
                <div class="row" *ngIf="!isNewAsset">
                    <div class="form-group col-md-6 file-icon" *ngFor="let file of AssetFiles;let index=i">
                        <div> Asset {{file.fileTypeName}}</div>
                        <div class="clearfix space20"></div>
                        <a href="{{file.fileLocation}}" target="_blank" *ngIf="file.documentType==isDocument" download>
                            <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
                        </a>
                        <a href="{{file.fileLocation}}" target="_blank" *ngIf="file.documentType==isImage">
                            <img src="{{file.fileLocation}}" class="img-fluid" width="161" height="121">
                            &nbsp;&nbsp;&nbsp;</a>

                        <a class="close2 color-red" *ngIf="file.documentType==isImage" (click)="onDeleteFile(file)">
                            <mat-icon>cancel</mat-icon>
                        </a>
                        <a class="close1 color-red" *ngIf="file.documentType==isDocument" (click)="onDeleteFile(file)">
                            <mat-icon>cancel</mat-icon>
                        </a>
                    </div>
                    <div class="form-group col-md-6" *ngFor="let doc of editDocumentsList">
                        <label for="file">Upload Asset {{doc.description}} </label>
                        <input #fileInput type="file" class="form-control" id="file" (change)="uploadFile(doc, $event)">
                    </div>

                    <div class="form-group col-md-4 file-icon" *ngFor="let info of assetRepositories">
                        <div class="clearfix space20"></div>
                        <a href="{{'data:image/jpg;base64,' + info.fileName}}" target="_blank"
                            *ngIf="info.documentTypeId==isDocument" download>
                            <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
                        </a>
                        <a target="_blank" *ngIf="info.documentTypeId==isImage">
                            <img src="{{'data:image/jpg;base64,'+ info.fileName}}" class="img-fluid" width="161"
                                height="121">
                            &nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>

                <div class="col-md-12">
                    <mat-checkbox formControlName="isActive">{{'site.management.IsActive' | translate}}</mat-checkbox>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="saveAssets()">{{'Assets.Management.save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onAssetCancel()">{{'Assets.Management.cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>