<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <mat-card class="password-recovery-card mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Recover Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="isSuccess">Please check your email to reset your password.</p>
        <form *ngIf="!isSuccess" #form="ngForm" [formGroup]="recoverPasswordForm" (ngSubmit)="recover()" novalidate class="app-recover-form">
          <mat-form-field class="app-validate">
            <input matInput formControlName="usernameOrEmail" placeholder="Username Or Email" autocomplete="email" (keydown.enter)="recover()">
            <mat-error *ngIf="usernameOrEmail.hasError('required')">
              User name or Email address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="!isSuccess" mat-raised-button color="primary" [disabled]="isLoading" (click)="recover()">
          <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
          RECOVER
        </button>
        <a *ngIf="!isSuccess" mat-button routerLink="/">CANCEL</a>
        <a *ngIf="isSuccess" mat-raised-button color="accent" routerLink="/">FINISH</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
