<app-page-header title="Site" icon="assignment_ind"></app-page-header>
<div class="page-content">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'site.management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" matSort matSortActive="updatedDate" matSortDirection="desc"
            matSortDisableClear>
            <ng-container matColumnDef="siteReference">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'site.management.siteRef' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.siteReference}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'site.management.Name1' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'site.management.Name2' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'site.management.Address' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="updatedDate">
                <mat-header-cell *matHeaderCellDef class="just-cont-center small-cell1" mat-sort-header>{{'site.management.UpdatedDate' | translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row"> {{row.updatedDate | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <mat-header-cell class="just-cont-center small-cell1" *matHeaderCellDef mat-sort-header>{{'site.management.IsActive' | translate}} </mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row.isActive" disabled="true"> </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary" matTooltip="Add" (click)="onEditSite()">
                        <mat-icon class="mat-button-icon">add</mat-icon>{{'site.management.AddSite' | translate}} 
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button matTooltip="Edit" (click)="onEditSite(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-button color="primary"   class="slocation"  matTooltip="Site Location" (click)="onSiteLocaction(row)">
                        <mat-icon class="mat-button-icon">add_location</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Delete" [hidden]="!row.isActive" (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>No Records Found</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>No Search Results Found</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>