<app-page-header title="Asset" icon="assignment_ind"></app-page-header>
<div class="page-content" [hidden]="isAdding">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Asset.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="siteName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'AssetLocation.Management.Site Name'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.siteName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'AssetLocation.Management.Project Name'|translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.projectName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="locationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'AssetLocation.Management.Location Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.locationName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary" matTooltip="Add" (click)="onEditAsset()">
                        <mat-icon class="mat-button-icon">{{'AssetLocation.Management.add'|translate}}</mat-icon>
                        {{'AssetLocation.Management.Add Asset'|translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button mat-icon-button matTooltip="{{'AssetLocation.Management.Edit'|translate}}"
                        (click)="onEditAsset(row)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="{{'AssetLocation.Management.Delete'|translate}}"
                        (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'AssetLocation.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'AssetLocation.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" [hidden]="!isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewAsset">{{'AssetLocation.Management.Add Asset'|translate}}</mat-card-title>
            <mat-card-title *ngIf="!isNewAsset">{{'AssetLocation.Management.Edit Asset'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="assetForm">
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.SiteName1'|translate}}*</mat-label>
                        <mat-select formControlName="siteId">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetForm.controls['siteId'].valid">
                            {{'AssetLocation.Management.SNameisrequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Project Name'|translate}}*</mat-label>
                        <mat-select formControlName="projectId">
                            <mat-option *ngFor="let project of projectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetForm.controls['projectId'].valid">
                            {{'AssetLocation.Management.pNameisrequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Location Name'|translate}}*</mat-label>
                        <mat-select formControlName="locationId">
                            <mat-option *ngFor="let location of locationsList" [value]="location.id" required>
                                {{location.name1}}(<span>{{location.locationReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!assetForm.controls['locationId'].valid">
                            {{'AssetLocation.Management.Location is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Reference'|translate}} </mat-label>
                        <input matInput formControlName="assetRef" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Name 1'|translate}} </mat-label>
                        <input matInput formControlName="aName1" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Name 2'|translate}}</mat-label>
                        <input matInput formControlName="aName2" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Group'|translate}}</mat-label>
                        <mat-select formControlName="assGroup">
                            <mat-option *ngFor="let assGroup of assetGroupList" [value]="assGroup.id" required>
                                {{assGroup.name1}}(<span>{{assGroup.assetRef1}}</span>)
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Type'|translate}}</mat-label>
                        <input matInput formControlName="assType" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Make'|translate}}</mat-label>
                        <input matInput formControlName="assMake" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Model'|translate}}</mat-label>
                        <input matInput formControlName="assModel" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Size'|translate}}</mat-label>
                        <input matInput formControlName="assSize" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Reference 2'|translate}}</mat-label>
                        <input matInput formControlName="assRef2" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Trade'|translate}}</mat-label>
                        <mat-select formControlName="assTrade">
                            <mat-option *ngFor="let assTrade of assetTradeList" [value]="assTrade.id" required>
                                {{assTrade.name1}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Conter'|translate}}</mat-label>
                        <mat-select formControlName="assCounter">
                            <mat-option *ngFor="let counter of counterList" [value]="counter.id" required>
                                {{counter.value}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'AssetLocation.Management.Asset Fixed Date'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="assFixDate"
                            placeholder="Asset Fixed Date" [min]="currenrDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="save()">{{'AssetLocation.Management.save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onAssetCancel()">{{'AssetLocation.Management.cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>