<form #form="ngForm" [formGroup]="siteForm" (ngSubmit)="save()">
  <mat-form-field class="col-md-12">
    <mat-label>{{'site.management.siteRef' | translate}}</mat-label>
    <input matInput formControlName="siteref" appTitleCase required maxlength="16" />
    <mat-error *ngIf="!siteForm.controls['siteref'].valid">
      {{'site.management.SiteReferenceisrequired' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <mat-label>{{'site.management.Name1' | translate}}</mat-label>
    <input matInput formControlName="sname1" required maxlength="50" />
    <mat-error *ngIf="!siteForm.controls['sname1'].valid">
      {{'site.management.Name1isrequired' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <mat-label> {{'site.management.Name2' | translate}}</mat-label>
    <input matInput formControlName="sname2" required maxlength="50" />
    <mat-error *ngIf="!siteForm.controls['sname2'].valid">
      {{'site.management.Name2isrequired' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <mat-label>{{'site.management.SiteManager' | translate}}</mat-label>
    <input matInput formControlName="siteManager" required maxlength="30" onkeypress='return (event.charCode !=60 ) &&(event.charCode !=62 ) && (event.charCode !=47 ) &&  (event.charCode !=92)' />
    <mat-error *ngIf="!siteForm.controls['siteManager'].valid">
      {{'site.management.SiteManagerRequired' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <mat-label>{{'site.management.Address' | translate}} </mat-label>
    <input matInput formControlName="address" required maxlength="250" />
    <mat-error *ngIf="!siteForm.controls['address'].valid">
      {{'site.management.SiteAddressRequired' | translate}}
    </mat-error>
  </mat-form-field>
  <div class="row">
    <div class="form-group col-md-7">
      <label for="file">{{'site.management.UploadLocationMapImage'|translate}} </label>
      <input type="file" class="form-control" id="file" formControlName="file" (change)="onSelectFiles($event)">
      <!-- <mat-error *ngIf="!siteForm.controls['file'].valid">
        {{'site.management.SiteImageRequired' | translate}}       
      </mat-error> -->
    </div>
    <div  class="col-md-5" *ngIf="isNewSite">
        <img [src]="image" style="height: 80px;"  alt="" />
    </div>
    <div class="image-upload col-md-5" *ngIf="!isNewSite">
      <div>{{'site.management.Site Image'|translate}} </div>

      <!-- <div *ngIf="((site.fileExtention=='.pdf')||(site.fileExtention=='.docx')||(site.fileExtention=='.doc'))"> {{'site.management.Site Document'|translate}}  </div>
      <div *ngIf="(site.fileExtention=='.jpg')||(site.fileExtention=='.jpeg')||(site.fileExtention=='.png')"> {{'site.management.Site Image'|translate}} </div> -->
      <label>
        <!-- <img [src]="site.fileLocation" style="height: 80px;" alt="" /> -->
        <!-- <a href="{{site.fileLocation}}" target="_blank" *ngIf="((site.fileExtention=='.pdf')||(site.fileExtention=='.docx')||(site.fileExtention=='.doc'))" style="height: 80px;" target="_blank" download >
          <mat-icon class="font-62 color-blue">file_copy</mat-icon> &nbsp;&nbsp;&nbsp;
        </a> -->
        <a href="{{site.fileLocation}}" style="height: 80px;" target="_blank"  >
            <img src="{{site.fileLocation}}" class="img-fluid" width="161" height="121"/> &nbsp;&nbsp;&nbsp;            
        </a>
      </label>
      <!-- <input id="file-input" type="file" formControlName="file" (change)="onSelectFiles($event)" /> -->
    </div>
  </div>
  <div class="col-md-12">
    <mat-checkbox formControlName="isActive">{{'site.management.IsActive' | translate}}</mat-checkbox>
  </div>
  <div class="clearfix space20"></div>
</form>