.space20 {
    margin-bottom: 20px !important;
}


.image-upload>input {
    display: none;
  }
  
    .font-62 {
        font-size: 62px;
        color:#3f51b5;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px !important; 
        margin-left: 0px !important; 
    }
