.space20 {
    margin-bottom: 20px !important;
}

// input[type="file"] {
//     display: none;
// }
// .custom-file-upload { 
//     display: inline-block; 
//     cursor: pointer;
//     background-image:none;
//     font-weight: normal!important;
// }

.dialog {
    border-radius: 5px;
    float: left;
    position: relative;
  }