
.auto-width {
    width: auto;
  }
  
 
  .file-icon {
    .font-62 {
        font-size: 62px;
        color:#3f51b5;
    }
    a.close1 {
        position: relative;
        top: -40px;
        right: -8px;
        color: red;
    }
    a.close2 {
      position: relative;
      top: -56px;
      right: 26px;
      color: red;
  }
  }
  .space20 {
    margin-bottom: 20px !important;
  }
  .search-box {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.search-box .mat-form-field {
    padding: 0 2em;
}

.mat-dialog-sm {
  min-width: 0vw !important;
}
header {
  margin: 1em;
}
header .mat-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}
header h3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}