<!-- <app-page-header title="Inventory-Items" icon="assignment_ind"></app-page-header> -->
<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.Inventory-Items'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="inventoryList.length==0">{{'mainMenu.Export'|translate}}</button>
</header>

<div class="page-content">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'InventoryItems.Management.Search By InventoryItems'|translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table class="table-md" [dataSource]="dataSource" matSort matSortActive="itemName" matSortDirection="asc"
            matSortDisableClear>
            <!-- <ng-container matColumnDef="purchaseReference">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Reference</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.purchaseReference}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="itemId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'InventoryItems.Management.Item Id'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.itemId}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'InventoryItems.Management.Item Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.itemName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef mat-sort-header>{{'InventoryItems.Management.Quantity'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row"> {{row.quantity}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="storeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'InventoryItems.Management.Store Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let 
                
                row"> {{row.storeName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'InventoryItems.Management.Project Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.projectName}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'InventoryItems.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'InventoryItems.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-md" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>