<!-- <app-page-header title="PMProcedures" icon="assignment_ind"></app-page-header> -->
<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.PM Procedures'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="maintenanceData.length==0">{{'mainMenu.Export'|translate}}</button>
</header>

<div class="page-content" [hidden]="isAdding||isView">
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Preventive Maintenance.Management.Search for Preventive Maintenance'|translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8 table-responsive">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table class="table-lg" [dataSource]="dataSource" matSort matSortActive="preventiveRefId"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="preventiveRefId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Preventive Reference'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.preventiveRefId}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="typeOfMaintainanceName">
                <mat-header-cell class="just-cont-center small-cell1" *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Type Of Maintenance'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center small-cell1" *matCellDef="let row"> {{row.typeOfMaintainanceName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="durationInHours">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Duration In Hours'|translate}}</mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row"> {{row.durationInHours}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="technicianName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Technician Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.technicianName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="statusTypeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Status Type Name'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.statusTypeName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.Details'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.details}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef>
                    <button mat-button color="primary"
                        matTooltip="{{'Preventive Maintenance.Management.Add'|translate}}" *ngIf="canAddPMProcedure" (click)="editClick()">
                        <mat-icon class="mat-button-icon">add</mat-icon>
                        {{'Preventive Maintenance.Management.Add Maintenance'|translate}}
                    </button>
                </mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row">
                    <button class="z-index" mat-icon-button
                        matTooltip="{{'Preventive Maintenance.Management.Edit'|translate}}" (click)="editClick(row)"
                        *ngIf="row.statusTypeName != 'Approved' && row.statusTypeName != 'Closed' && canEditPMProcedure">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button class="just-cont-center" mat-icon-button
                        matTooltip="{{'Preventive Maintenance.Management.View PM Procedure'|translate}}"
                        (click)="onViewClick(row)">
                        <mat-icon color="accent">visibility icon</mat-icon>
                    </button>
                    <button class="z-index" mat-icon-button *ngIf="row.statusTypeName == 'Open' && canApprovePMProcedure"
                        matTooltip="{{'Work Order.Management.Accept'|translate}}" (click)="OnAcceptPmProcedure(row)">
                        <mat-icon color="primary">thumb_up</mat-icon>
                    </button>

                    <button class="z-index" mat-icon-button
                        matTooltip="{{'Preventive Maintenance.Management.Add Asset to Procedure'|translate}}"
                        *ngIf="row.statusTypeName == 'Approved'" (click)="onSelectAsset(row)">
                        <mat-icon> forum</mat-icon>
                    </button>
                    <button class="just-cont-center" mat-icon-button *ngIf="canDeletePMProcedure"
                        matTooltip="{{'Preventive Maintenance.Management.Delete'|translate}}"
                        (click)="confirmDelete(row)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'Preventive Maintenance.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'Preventive Maintenance.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator class="table-lg" [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<div class="page-content" *ngIf="isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isNewMaintanance">{{'Preventive Maintenance.Management.Add Maintenance'|translate}}
            </mat-card-title>
            <mat-card-title *ngIf="!isNewMaintanance">
                {{'Preventive Maintenance.Management.Edit Maintenance'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="maintenanceForm">
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Preventive Reference'|translate}}</mat-label>
                        <input matInput formControlName="preventiveRefId" required minlength="3" />
                        <mat-error *ngIf="maintenanceForm.get('preventiveRefId').hasError('required')">
                            {{'Preventive Maintenance.Management.Preventive Reference is Required(Preventive Reference  must be at least 3 characters)'|translate}}
                        </mat-error>
                        <mat-error *ngIf="maintenanceForm.get('preventiveRefId').hasError('minlength')">
                            {{'Location.Management.Minimum of 3 Characters'|translate}}
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Type Of Maintenance'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="typeOfMaintainanceId" (ngModelChange)="onTypeChange($event)">
                            <mat-option *ngFor="let tech of TypesList" [value]="tech.typeCdDmtId" required>
                                {{tech.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['assetId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Type of Maintenance'|translate}}
                        </mat-error>
                    </mat-form-field>

                   
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Priority'|translate}}</mat-label>
                        <input matInput formControlName="priority" required />
                        <mat-error *ngIf="!maintenanceForm.controls['priority'].valid">
                            {{'Preventive Maintenance.Management.Priority is Required'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Select Site'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="siteId" (ngModelChange)="getProjectsByUserIdandSiteId($event)">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['siteId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Site'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Select Project'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="onSelectProjectByAssets($event)">
                            <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['projectId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Project'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.SelectJobPlan'|translate}}<span>*</span>
                        </mat-label>
                        <mat-select formControlName="jobId" (ngModelChange)="onSelectJob($event)">
                            <mat-option *ngFor="let job of jobPlanList" [value]="job.id" required>
                                {{job.name}}(<span>{{job.jobReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['jobId'].valid">
                            {{'Preventive Maintenance.Management.PleaseselectJobPlan'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="row">         
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Duration in Hours'|translate}}</mat-label>
                        <input matInput formControlName="durationInHours" readonly (keypress)="numberOnly($event)" />
                    </mat-form-field>
                   
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Techinician'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="technicianId">
                            <mat-option *ngFor="let tech of workTechList" [value]="tech.id" required>
                                {{tech.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!maintenanceForm.controls['technicianId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Technician'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Select Asset'|translate}}
                        </mat-label>
                        <input matInput formControlName="assetId" required (click)="onSelectAssetClick($event)" />
                        <mat-error *ngIf="!maintenanceForm.controls['assetId'].valid">
                            {{'Preventive Maintenance.Management.Please Select Asset'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <mat-label>{{'Preventive Maintenance.Management.Details'|translate}}</mat-label>
                        <input matInput formControlName="details" maxlength="200" />
                        <!-- <mat-error *ngIf="!maintenanceForm.controls['details'].valid">
                            detailsisrequired
                        </mat-error> -->
                    </mat-form-field>

                </div>
            </form>
            <div *ngIf="assetDataLength > 0">
                <h5> Asset Data</h5>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>

                            <th>Asset Name</th>
                            <th>Asset Reference</th>
                            <th>Days Applicable</th>
                            <th>Asset Fixed Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asset of assetData;let i = index">

                            <td>{{asset.name1}} </td>
                            <td>{{asset.assetRef}}</td>
                            <td class="text-center">{{asset.daysApplicable}}</td>
                            <td>{{asset.astFixedDate | date: 'dd/MM/yyyy '}}</td>

                        </tr>
                    </tbody>

                </table>

            </div>
            <div>
                <h5> {{'Preventive Maintenance.Management.JobPlanTasks'|translate}}</h5>
                <div class="row" *ngFor="let jobTask of jobTaskList">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.TaskName'|translate}}</mat-label>
                        <input matInput readonly [(ngModel)]="jobTask.name" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.Duration in Hours'|translate}}</mat-label>
                        <input matInput readonly [(ngModel)]="jobTask.duration" />
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Preventive Maintenance.Management.TradeName'|translate}}</mat-label>
                        <input matInput readonly [(ngModel)]="jobTask.astTradeName" />
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="saveMaintenance()">{{'Preventive Maintenance.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onCancelClick()">{{'Preventive Maintenance.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>
<div class="page-content" *ngIf="isView">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'Preventive Maintenance.Management.PM Procedure Information'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Preventive Maintenance.Management.Preventive Reference'|translate}} 
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.preventiveRefId}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Preventive Maintenance.Management.Type Of Maintenance'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.typeOfMaintainanceName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <!-- <div class="col-xs-6 col-sm-6 col-md-3">
                            DaysApplicable
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.daysApplicable}}</b>&nbsp;&nbsp;
                        </div> -->
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Preventive Maintenance.Management.Technician Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.technicianName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Preventive Maintenance.Management.Duration In Hours'|translate}} 
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.durationInHours}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Preventive Maintenance.Management.Status Type Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.statusTypeName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Preventive Maintenance.Management.Details'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{PMProcedure.details}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <!-- <div class="clearfix space20"></div>
                    <div class="row">
                       
                    </div> -->

                </div>
            </div>
            <mat-card-actions>
                <div class="float-right" style="padding-top: 12px;padding-right: 15px;">
                    <button mat-raised-button (click)="closeViewWorkOrder()"
                        color="warn">{{'Work Order.Management.Close'|translate}}</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
        <div class="clearfix"></div>
    </mat-card>
</div>