/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/theming';
@import './app/app-theme';
@import './assets/highlightjs/material-light.css';
@import '../node_modules/ngx-toasta/styles/style-material.css';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include quickapp-pro-app-theme($theme);

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

.page-content {
  padding: 0 2em;
}

.mat-card-content,
.mat-card-header .mat-card-title,
.mat-expansion-panel-content {
  font-size: 16px;
}

.mat-panel-title {
  display: inline-block;
  vertical-align: middle;
}

.mat-form-field.app-validate.ng-valid {

  $valid-color: #42A948;

  .mat-form-field-label {
    color: $valid-color;
  }

  .mat-form-field-underline {
    background-color: $valid-color;
  }
}

.mat-dialog-sm {
  min-width: 40vw;

  @media screen and (max-width: 959px) {
    min-width: 90vw;
  }
}

.mat-dialog-md {
  min-width: 50vw;

  @media screen and (max-width: 959px) {
    min-width: 90vw;
  }
}

.mat-dialog-lg {
  min-width: 80vw;

  @media screen and (max-width: 959px) {
    min-width: 90vw;
  }
}

.mat-button-icon {
  margin-right: 16px;
}

.mat-icon.mat-icon-lg {
  width: 48px;
  height: 48px;
  font-size: 48px;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}

#toasta.toasta-position-top-right {
  top: 80px;
  right: 20px;
}

#toasta .toast-text .toast-msg {
  max-width: 1000px;
  max-height: 800px;
  display: inline-block;
  overflow: auto;
}
.leaflet-control-attribution.leaflet-control{
  display: none;
}

/* mat header styles */

mat-header-row {
  -webkit-box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
  box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
  border: solid 1px #414e96;
  border-radius: 0px;
  background-color: #414e96;
  border-bottom: 1px solid #e3e6f0;
  border-top: 1px solid #e3e6f0;
}

.mat-header-cell {
  color: #fff;
  font-size: 15px;;
  margin-left: 4px;
  border-right: 1px solid #6975b9;
}
.mat-cell {
  border-right: 1px solid #f2f2f2;
  align-self: stretch;
  margin: 0px 2px;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  background-color: #eaf1f7;
  border-top: 1px solid #e3e6f0;
  color: #414e96;
  font-size: 0.9rem;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: #fff;
}

.just-cont-center {
  justify-content: center !important;
}
.just-cont-left {
  justify-content: left !important;
}
.align-item-center {
  align-items: center !important;
}
.page-content {
  padding: 0 1em;
  margin-top: .5rem;
}
@media screen and (min-width:768px){
  .page-content {
    padding: 0 2em;
  }
}
.mat-card-content, .mat-card-header .mat-card-title, .mat-expansion-panel-content {
  font-size: 16px;
}

.mat-sort-header-arrow {
   color: #fff; 
}
.form-control{
  padding: 0.215rem .75rem !important;
}

.small-cell-1 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 5%;
}

.small-cell {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 8%;
}

.small-cell1 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 10%;
}

.small-cell2 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 18%;
}
.first-l-cap:first-letter{
  text-transform: capitalize !important;
}
.first-l-cap::first-letter{
  text-transform: capitalize !important;
}
.first-l-cap{
  text-transform: lowercase;
}

 body .ui-table .ui-table-thead > tr > th {
  padding: 1.171em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #f4f4f4;
  background-color: #414e96 !important;
}
body .ui-table .ui-table-tbody > tr > td {
  padding: 0.571em 0.857em;
  background-color: inherit;
  border: 1px solid #c8c8c8;
}
.ui-table .ui-paginator-bottom {
  border-top: 0 none;
  text-align: right !important;
  border-top: 0 none;
  text-align: right !important;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 14px;
}


body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  color: #fff !important;
}
.color-blue{
  color: #3f51b5;
}
.bg-blue{
  color: #3f51b5;
}

@media screen and (min-width: 1300px) {
  .table-xl, .prng-table .ui-table, .table-xl .ui-table {
     min-width: 1680px; 
  }
  .prng-table {
    .ui-table {
    min-width: 1680px; 
 }
}
}
@media screen and (min-width: 1300px) {
  .table-lg {
    min-width: 1440px;
    .ui-table table{
      min-width: 1440px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .tab-responsive, .table-lg {
    min-width: 1440px;
    .ui-table table{
      min-width: 1440px;
    }
  }
  .table-xl, .table-xl .table-xl {
    min-width: 1620px; 
 }
  .table-md {
    min-width: 1050px;
  }

  .table-sm {
    min-width: 850px;
    width: 100%;
  }

  .prng-table .ui-table {
    min-width: 1350px;
  }
}
.prng-table .ui-dropdown .ui-dropdown-panel{
  z-index: 99999 !important;
}
.pb-70{
  padding-bottom: 70px;
}
// @media screen and (min-width: 1300px) {
//   .table-xl, .prng-table .ui-table table {
//     min-width: 1460px !important;
//   }
// }
// @media screen and (max-width: 1300px) {
//   .tab-responsive, .table-lg {
//     min-width: 1300px !important;;
//   }

//   .table-md {
//     min-width: 1050px;
//   }

//   .table-sm {
//     min-width: 850px;
//     width: 100%;
//   }

//   .prng-table .ui-table table {
//     min-width: 1350px !important;;
//   }
// }
.word-break{
  word-wrap: break-word;
}
.word-break-all{
  word-wrap: break-word;
  word-break: break-all;
}
.z-index{
  z-index: 1001;
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

body .ui-widget {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.mat-sort-header-button {
  text-align: left;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 15px !important;
}
// @media screen and (max-width: 70em) {
//   .mv-text-container{
//    white-space: normal !important;
//    text-overflow: initial !important;
//    overflow: auto !important;
//  }

//  .ui-table table {
//    width: 99%;
//  }

// .ui-table-responsive .ui-table-thead > tr > th,
// .ui-table-responsive .ui-table-tfoot > tr > td {
//    display: none !important;
// }

// .ui-table-responsive .ui-table-tbody > tr > td {
//   text-align: left !important;
//   display: block !important;
//   border: 0 none !important;
//   width: 100% !important;
//  -webkit-box-sizing: border-box !important;
//  -moz-box-sizing: border-box !important;
//   box-sizing: border-box !important;
//   float: left !important;
//   clear: left !important;
// }

// .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
//   padding: .4em !important;
//   min-width: 30% !important;
//   display: inline-block !important;
//   margin: -.4em 1em -.4em -.4em !important;
//   font-weight: bold !important;
// }


// tr > td {
//   text-align: left !important;
//   border: 0px !important;
//   padding-left: 15px !important;
// }

// tr > th > {
//   border: 0px !important;
//   text-align: left !important;
// }

// tr {
//  border: 1px solid #D5D5D5 !important;
// }

// tr > td:last-child {
//  padding-bottom: 15px !important;
//  margin-bottom: 0 !important;
// }

// tr > td:first-child {
//  padding-top: 15px !important;
// }
// }
.ui-dropdown .ui-dropdown-panel{
  z-index: 1050 !important;
}
.ui-table{
  .ui-paginator-bottom{
  z-index: 9999 !important;
}
}
.text-wid .mat-form-field-infix{
  width: 100% !important;
}
.text-wid .mat-form-field-appearance-legacy .mat-form-field-infix{
  width:100%
  }
  .box-shadow1{
    padding: 10px 15px;
    box-shadow:0 1px 6px 0 rgba(32, 33, 36, .28);
  }
  .dir-rtl{
    direction: rtl !important;
  }
  @page:left
{
     direction: ltr;
}
@page:right
{
     direction: rtl;
}
.dir-rtl .mat-dialog-container{
  direction: rtl !important;
  *{
    direction: rtl !important;
  }
}
.dir-rtl .mat-dialog-title{
  direction: rtl !important;
}
.dir-rtl .mat-dialog-content{
  direction: rtl !important;
}
.dir-rtl .mat-dialog-actions{
  direction: rtl !important;
}
body[dir='rtl']{
  direction: rtl !important;
}
body[dir='ltr']{
  direction: ltr !important;
}
.cstm-date{
  margin-top: 0.8rem;
}
.cstm-date .ui-calendar{
  width: 100% !important;
}
.cstm-date .ui-calendar.ui-calendar-w-btn input, .cstm-date .ui-calendar.ui-calendar-w-btn input:hover,.cstm-date .ui-calendar.ui-calendar-w-btn input:visited{
  border: none;
  border-bottom: 0.15em solid #bebebe !important;
  border-radius: 0px;
  width: 88% !important;
}
.cstm-date .ui-button.ui-button-icon-only{
  background: transparent;
  border: none;
  border-bottom: 0.15em solid #bebebe !important;
  border-radius: 0px;
  color: #bebebe !important;
  padding: 1px;
}
.cstm-date label{
  color: rgba(0, 0, 0, 0.54);
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
    -ms-transform: translateY(-1.28125em) scale(0.75);
    width: 133.3333333333%;
    position: absolute;
    left: 15px;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    margin-top: 6px;
}