<!-- <app-page-header title="Work Order" icon="assignment_ind"></app-page-header> -->
<header _ngcontent-huc-c14="" class="pageHeader pl-3 pr-3">
    <mat-icon _ngcontent-huc-c14="" aria-hidden="true"
        class="mat-icon-md mat-icon notranslate material-icons mat-icon-no-color d-inline-block" role="img"
        style="display: inline-block;">assignment_ind</mat-icon>
    <h3 _ngcontent-huc-c14="" class="d-inline-block">{{'mainMenu.Work Order'|translate}}</h3>
    <button mat-raised-button color="primary" class="float-right d-inline-block" title="Export" (click)="download()"
        [disabled]="workOrdersList.length==0">{{'mainMenu.Export'|translate}}</button>
</header>
<div class="page-content" [hidden]="isAdding || isEdit || isView">
    <!-- <div class="row float-right">
    < /div> -->
    <div class="example-container mat-elevation-z8 mt-2">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <div class="table-responsive prng-table pb-70">
            <p-table #dt [value]="workOrdersList" [paginator]="true" expandableRows="true" [rows]="10" sortField="id"
                matSortDirection="desc" [tableStyle]="{'table-layout':'auto'}" [rowsPerPageOptions]="[10,20,50]"
                sortMode="single" rowExpandMode="single" dataKey="id"
                [globalFilterFields]="['id','reference1','startDate','endDate','assetName','locationName', 'updatedDate','issue','resolution']">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">

                        <input type="text" pInputText size="50"
                            placeholder="{{'Work Order.Management.Search By work Order'|translate}}"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3em"></th>
                        <th [pSortableColumn]="'id'">{{'Work Order.Management.Work Order Id'| translate}}
                            <p-sortIcon [field]="'id'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'reference1'">{{'Work Order.Management.Reference 1'| translate}}
                            <p-sortIcon [field]="'reference1'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'startDate'">{{'Work Order.Management.Start Date'| translate}}
                            <p-sortIcon [field]="'startDate'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'endDate'">{{'Work Order.Management.End Date'| translate}}
                            <p-sortIcon [field]="'endDate'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'assetName'">{{'Work Order.Management.Asset Name'| translate}}
                            <p-sortIcon [field]="'assetName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'locationName'">{{'Work Order.Management.Location Name'| translate}}
                            <p-sortIcon [field]="'locationName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'statusTypeName'" class="small-cell">{{'Work Order.Management.Status Name'| translate}}
                            <p-sortIcon [field]="'statusTypeName'"></p-sortIcon>
                        </th>
                        <!-- <th [pSortableColumn]="'updatedDate'">{{'Work Order.Management.Updated Date'| translate}}
                            <p-sortIcon [field]="'updatedDate'"></p-sortIcon>
                        </th> -->
                        <th [pSortableColumn]="'issue'">{{'Work Order.Management.Issue'| translate}}
                            <p-sortIcon [field]="'issue'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'resolution'">{{'Work Order.Management.Resolution'| translate}}
                            <p-sortIcon [field]="'resolution'"></p-sortIcon>
                        </th>
                        <!-- <th [pSortableColumn]="'storeName'">Store Name
                            <p-sortIcon [field]="'storeName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'workTypeName'">Work Type
                            <p-sortIcon [field]="'workTypeName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'workStatusName'">Work Status
                            <p-sortIcon [field]="'workStatusName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'workTechnicianName'">Work Teach
                            <p-sortIcon [field]="'workTechnicianName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'workFaultName'">Work Fault
                            <p-sortIcon [field]="'workFaultName'"></p-sortIcon>
                        </th> -->
                        <th>{{'Purchase Order.Management.Is Active'|translate}}
                        </th>
                        <th class="just-cont-center">
                            <button mat-button color="primary"
                                matTooltip="{{'Work Order.Management.Add Order'| translate}}" (click)="addClick()">
                                <mat-icon class="mat-button-icon">add</mat-icon>
                                {{'Work Order.Management.Add Order'|translate}}
                            </button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-req let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td style="width: 3em">
                            <a [pRowToggler]="req"
                                (click)="getItemsByworkOrderId(req, expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right')">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                        <td>{{req.id}}</td>
                        <td>{{req.reference1}}</td>
                        <td>{{req.startDate | date: 'dd/MM/yyyy '}}</td>
                        <td>{{req.endDate  | date: 'dd/MM/yyyy '}}</td>
                        <td>{{req.assetName}}</td>
                        <td>{{req.locationName}}</td>
                        <td style="width: 100px;">{{req.statusTypeName}}</td>
                        <!-- <td>{{req.updatedDate | date: 'dd/MM/yyyy '}}</td> -->
                        <td>{{req.issue}}</td>
                        <td>{{req.resolution}}</td>
                        <!-- <td>{{req.storeName}}</td>
                        <td>{{req.workTypeName}}</td>
                        <td>{{req.workStatusName}}</td>
                        <td>{{req.workTechnicianName}}</td>
                        <td>{{req.workFaultName}}</td>  -->
                        <td align="center">
                            <mat-checkbox [(ngModel)]="req.isActive" disabled="true"> </mat-checkbox>
                        </td>
                        <td>
                            <button class="just-cont-center" mat-icon-button *ngIf="req.statusTypeName != 'Approved' && req.statusTypeName != 'Closed'"
                                matTooltip="{{'Work Order.Management.Edit'|translate}}"  (click)="onEditClick(req)">
                                <mat-icon color="primary">edit</mat-icon>
                            </button>
                            <button class="just-cont-center" mat-icon-button *ngIf="req.statusTypeName != 'Closed'"
                                matTooltip="{{'Work Order.Management.Delete'|translate}}" [hidden]="!req.isActive"
                                (click)="confirmDelete(req)">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                            <button class="just-cont-center" mat-icon-button
                                matTooltip="{{'Work Order.Management.View WorkOrder'|translate}}"
                                (click)="onViewClick(req)">
                                <mat-icon color="accent">visibility icon</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button matTooltip="{{'Work Order.Management.Accept'|translate}}" *ngIf="req.statusTypeName == 'Open'" (click)="acceptClick(req)">
                                <mat-icon color="primary">thumb_up</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button matTooltip="{{'Work Order.Management.Reject'|translate}}"  *ngIf="req.statusTypeName == 'Open'" (click)="rejectClick(req)">
                                <mat-icon color="warn">thumb_down</mat-icon>
                            </button>
                            <button class="z-index" mat-icon-button matTooltip="{{'Work Order.Management.Close'|translate}}" *ngIf="req.statusTypeName == 'Approved'"
                                (click)="CloseWorkOrderClick(req)">
                                <mat-icon color="warn">cancel</mat-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr>
                        <td [attr.colspan]="15">
                            <p-table #dt1 [responsive]="true" [value]="workOrderItemList" [rows]="5"
                                sortField="itemName" [paginator]="true" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                    <tr>
                        <th class="product-id" [pSortableColumn]="'itemName'">
                            {{'Work Order.Management.Item Name'|translate}}
                            <p-sortIcon [field]="'itemName'"></p-sortIcon>
                        </th>
                        <th class="product-id" [pSortableColumn]="'itemReference'">
                            {{'Work Order.Management.Item Reference'|translate}}
                            <p-sortIcon [field]="'itemReference'"></p-sortIcon>
                        </th>
                        <th class="product-id" [pSortableColumn]="'quantity'">
                            {{'Work Order.Management.Quantity'|translate}}
                            <p-sortIcon [field]="'quantity'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expanded="expanded" let-rowdata>
                    <tr>
                        <td>{{rowdata.itemName}}</td>
                        <td>{{rowdata.itemReference}}</td>
                        <td>{{rowdata.quantity}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr *ngIf="workOrderItemList.length == 0">
                        <td colspan="5" class="ui-datatable-emptymessage text-center">
                            {{'Work Order.Management.No Records Found'|translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </td>
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td colspan="14" class="ui-datatable-emptymessage text-center">
                        {{'Work Order.Management.No Records Found'|translate}}
                    </td>
                </tr>
            </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="page-content" *ngIf="isAdding">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'Work Order.Management.Add Work Order'|translate}}
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="orderForm">
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Assets.Management.SiteName1'|translate}}*</mat-label>
                        <mat-select formControlName="siteId" (ngModelChange)="getProjectsByUserIdandSiteId($event)">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['siteId'].valid">
                            {{'Assets.Management.PleaseSelectSite'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Assets.Management.ProjectName'|translate}}*</mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="onSelectProjectByLocation($event)">
                            <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['projectId'].valid">
                            {{'Assets.Management.PleaseSelectProject'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-3">
                        <input matInput placeholder="Select Location" [matAutocomplete]="auto1" formControlName="locationId" 
                            (input)="onSelectProjectByLocationSearch($event.target.value)" required>
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option  *ngFor="let location of locationsList" [value]="location.name1"
                                (onSelectionChange)='onLocationSelected(location)'>
                                {{location.name1}}(<span>{{location.locationReference}}</span>)
                                
                            </mat-option>
                            <mat-option *ngIf="searchLength>2 && locationLength == 0"
                                style="height: 50px!important">
                                <span> No Record matching "{{searchText}}" was found. </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="!orderForm.controls['locationId'].valid">
                            {{'Assets.Management.PleaseSelectLocation'|translate}}
                        </mat-error> 
                    </mat-form-field>

                    
                    
                    <!-- <mat-form-field class="col-md-3">
                        <mat-label>{{'Assets.Management.LocationName'|translate}}*</mat-label>
                        <mat-select formControlName="locationId" (ngModelChange)="onSelectLocationByProject($event)">
                            <mat-option *ngFor="let location of locationsList" [value]="location.id" required>
                                {{location.name1}}(<span>{{location.locationReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['locationId'].valid">
                            {{'Assets.Management.PleaseSelectLocation'|translate}}
                        </mat-error>
                    </mat-form-field> -->
                    <div class="col-md-2">
                        <button mat-raised-button color="primary"
                            matTooltip="{{'Purchase Order.Management.Add'|translate}}" (click)="addItem($event)">
                            <mat-icon class="mat-button-icon">add</mat-icon>
                            {{'Purchase Order.Management.Add Item'|translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <input matInput placeholder="Select Asset " [matAutocomplete]="auto" formControlName="assetId" 
                            (input)="onSelectLocationByAssetSearch($event.target.value)" required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option  *ngFor="let asset of assetsList" [value]="asset.name1"
                                (onSelectionChange)='onAssetSelected(asset)'>
                                {{asset.name1}}
                                
                            </mat-option>
                            <mat-option *ngIf="assetLength>2 && assetListLength == 0"
                                style="height: 50px!important">
                                <span> No Record matching "{{searchText}}" was found. </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="!orderForm.controls['assetId'].valid">
                            {{'Work Order.Management.Please Select Asset'|translate}}
                        </mat-error> 
                    </mat-form-field>
                    <!-- <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Asset'|translate}}<span>*</span></mat-label>
                        <mat-select formControlName="assetId">
                            <mat-option *ngFor="let asset of assetsList" [value]="asset.id" required>
                                {{asset.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['assetId'].valid">
                            {{'Work Order.Management.Please Select Asset'|translate}}
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="col-md-3">
                        <mat-label> {{'Work Order.Management.Start Date'|translate}} </mat-label>
                        <input matInput [matDatepicker]="picker" [min]="currenrDate" formControlName="startDate"
                            placeholder="Start Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="!orderForm.controls['startDate'].valid">
                            {{'Work Order.Management.Start Date is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.End Date'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1" [min]="currenrDate" formControlName="endDate"
                            placeholder="End Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="!orderForm.controls['endDate'].valid">
                            {{'Work Order.Management.End Date is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Work Order.Management.Issue'|translate}} </mat-label>
                        <textarea matInput formControlName="issue"></textarea>
                        <mat-error *ngIf="!orderForm.controls['issue'].valid">
                            {{'Work Order.Management.Issue is Required'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-5">
                        <mat-label>{{'Work Order.Management.Resolution'|translate}}</mat-label>
                        <textarea matInput formControlName="resolution"></textarea>
                        <mat-error *ngIf="!orderForm.controls['resolution'].valid">
                            {{'Work Order.Management.Resolution is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Technician'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="workTechId">
                            <mat-option *ngFor="let work of workTechList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workTechId'].valid">
                            {{'Work Order.Management.Please Select work Technician'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Type'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="workTypeId">
                            <mat-option *ngFor="let work of workTypeList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workTypeId'].valid">
                            {{'Work Order.Management.Please Select Work Type'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Reference 1'| translate}}</mat-label>
                        <input matInput formControlName="reference1" required maxlength="50" />
                        <mat-error *ngIf="!orderForm.controls['reference1'].valid">
                            {{'Work Order.Management.Reference 1 is Required'| translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Store'|translate}}<span>*</span></mat-label>
                        <mat-select formControlName="storeId">
                            <mat-option *ngFor="let store of storesList" [value]="store.id" required>
                                {{store.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['storeId'].valid">
                            {{'Work Order.Management.Please Select Store'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Status'|translate}}<span>*</span></mat-label>
                        <mat-select formControlName="workStatusId">
                            <mat-option *ngFor="let work of workStatusList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workStatusId'].valid">
                            {{'Work Order.Management.Please Select Work Status'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Fault'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="workFaultId">
                            <mat-option *ngFor="let work of workFaultsList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workFaultId'].valid">
                            {{'Work Order.Management.Please Select Work Fault'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <!-- <mat-form-field class="col-md-3">
                        <mat-label>Reference 2</mat-label>
                        <input matInput formControlName="reference2" required maxlength="50" />
                        <mat-error *ngIf="!orderForm.controls['reference2'].valid">
                            Reference 2 is Required
                        </mat-error>
                    </mat-form-field> -->
                </div>
                <div class="row">
                    <mat-form-field class="col-md-9">
                        <mat-label>{{'Work Order.Management.Extra Details'|translate}}</mat-label>
                        <textarea matInput formControlName="extraDetails"></textarea>
                        <!-- <mat-error *ngIf="!orderForm.controls['extraDetails'].valid">
                            {{'Work Order.Management.Extradetails is Required'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </form>
            <div class="row">
                <form [formGroup]="itemFrom" class="col-md-12">
                    <div formArrayName="credentials" 
                        *ngFor="let item of itemFrom.controls['credentials']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                            <h4>{{'Purchase Order.Management.Item'|translate}}{{i+1}}</h4>
                            <div class="row" >
                                <mat-form-field class="col-md-4">
                                    <mat-label>{{'Purchase Order.Management.Select Item'|translate}}<span>*</span>
                                    </mat-label>
                                    <mat-select formControlName="itemId">
                                        <mat-option *ngFor="let item of itemList" [value]="item.id" >
                                           {{item.name1}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="item.controls.itemId.invalid">
                                        {{'Purchase Order.Management.Please Select Item'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <mat-label>{{'Purchase Order.Management.Quantity'|translate}}</mat-label>
                                    <input matInput formControlName="quantity" required maxlength="5"
                                        (keypress)="numberOnly($event)" />
                                    <mat-error *ngIf="item.controls.quantity.invalid">
                                        {{'Purchase Order.Management.Quantity is Required'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-4">
                                    <button mat-raised-button color="warn" (click)="Delete(i)" title="Cancel"
                                        *ngIf="i>0">
                                        {{'Purchase Order.Management.Remove'|translate}}
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="saveOrder()">{{'Purchase Order.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onCancelClick()">{{'Purchase Order.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>

    </mat-card>
</div>
<div class="page-content" *ngIf="isEdit">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'Work Order.Management.Edit Work Order'|translate}}
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="orderForm">
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Assets.Management.SiteName1'|translate}}*</mat-label>
                        <mat-select formControlName="siteId" (ngModelChange)="getProjectsByUserIdandSiteId($event)">
                            <mat-option *ngFor="let site of siteList" [value]="site.id" required>
                                {{site.name1}}(<span>{{site.siteReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['siteId'].valid">
                            {{'Assets.Management.PleaseSelectSite'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Assets.Management.ProjectName'|translate}}*</mat-label>
                        <mat-select formControlName="projectId" (ngModelChange)="onSelectProjectByLocation($event)">
                            <mat-option *ngFor="let project of userProjectsList" [value]="project.id" required>
                                {{project.name1}}(<span>{{project.projectReference}}</span>)
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['projectId'].valid">
                            {{'Assets.Management.PleaseSelectProject'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-3">
                        <input matInput placeholder="Select Location" [matAutocomplete]="auto1" formControlName="locationId" 
                            (input)="onSelectProjectByLocationSearch($event.target.value)" required>
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option  *ngFor="let location of locationsList" [value]="location.name1"
                                (onSelectionChange)='onLocationSelected(location)'>
                                {{location.name1}}(<span>{{location.locationReference}}</span>)
                                
                            </mat-option>
                            <mat-option *ngIf="searchLength>2 && locationLength == 0"
                                style="height: 50px!important">
                                <span> No Record matching "{{searchText}}" was found. </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="!orderForm.controls['locationId'].valid">
                            {{'Assets.Management.PleaseSelectLocation'|translate}}
                        </mat-error> 
                    </mat-form-field>
                    <div class="col-md-2">
                        <button mat-raised-button color="primary"
                            matTooltip="{{'Purchase Order.Management.Add'|translate}}" (click)="addItem($event)">
                            <mat-icon class="mat-button-icon">add</mat-icon>
                            {{'Purchase Order.Management.Add Item'|translate}}
                        </button>
                    </div>
                </div>

                <div class="row">
                    <mat-form-field class="col-md-3">
                        <input matInput placeholder="Select Asset " [matAutocomplete]="auto" formControlName="assetId" 
                            (input)="onSelectLocationByAssetSearch($event.target.value)" required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option  *ngFor="let asset of assetsList" [value]="asset.name1"
                                (onSelectionChange)='onAssetSelected(asset)'>
                                {{asset.name1}}
                                
                            </mat-option>
                            <mat-option *ngIf="assetLength>2 && assetListLength == 0"
                                style="height: 50px!important">
                                <span> No Record matching "{{assteText}}" was found. </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="!orderForm.controls['assetId'].valid">
                            {{'Work Order.Management.Please Select Asset'|translate}}
                        </mat-error> 
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Start Date'|translate}} </mat-label>
                        <input matInput [matDatepicker]="picker" [min]="currenrDate" formControlName="startDate"
                            placeholder="Start Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="!orderForm.controls['startDate'].valid">
                            {{'Work Order.Management.Start Date is Required'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.End Date'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1" [min]="currenrDate" formControlName="endDate"
                            placeholder="End Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="!orderForm.controls['endDate'].valid">
                            {{'Work Order.Management.End Date is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <!-- <mat-form-field class="col-md-3">
                        <mat-label>Reference 2</mat-label>
                        <input matInput formControlName="reference2" required maxlength="50" />
                        <mat-error *ngIf="!orderForm.controls['reference2'].valid">
                            Reference 2 is Required
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="col-md-4">
                        <mat-label>{{'Work Order.Management.Issue'|translate}} </mat-label>
                        <textarea matInput formControlName="issue"></textarea>
                        <mat-error *ngIf="!orderForm.controls['issue'].valid">
                            {{'Work Order.Management.Issue is Required'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-5">
                        <mat-label>{{'Work Order.Management.Resolution'|translate}}</mat-label>
                        <textarea matInput formControlName="resolution"></textarea>
                        <mat-error *ngIf="!orderForm.controls['resolution'].valid">
                            {{'Work Order.Management.Resolution is Required'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Technician'|translate}} <span>*</span>
                        </mat-label>
                        <mat-select formControlName="workTechId">
                            <mat-option *ngFor="let work of workTechList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workTechId'].valid">
                            {{'Work Order.Management.Please Select work Technician'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Type'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="workTypeId">
                            <mat-option *ngFor="let work of workTypeList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workTypeId'].valid">
                            {{'Work Order.Management.Please Select Work Type'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Reference 1'| translate}}</mat-label>
                        <input matInput formControlName="reference1" required maxlength="50" />
                        <mat-error *ngIf="!orderForm.controls['reference1'].valid">
                            {{'Work Order.Management.Reference 1 is Required'| translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Store'| translate}} <span>*</span></mat-label>
                        <mat-select formControlName="storeId">
                            <mat-option *ngFor="let store of storesList" [value]="store.id" required>
                                {{store.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['storeId'].valid">
                            {{'Purchase Order.Management.Please Select Store'| translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Status'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="workStatusId">
                            <mat-option *ngFor="let work of workStatusList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workStatusId'].valid">
                            {{'Work Order.Management.Please Select Work Status'|translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-label>{{'Work Order.Management.Select Work Fault'|translate}} <span>*</span></mat-label>
                        <mat-select formControlName="workFaultId">
                            <mat-option *ngFor="let work of workFaultsList" [value]="work.id" required>
                                {{work.name1}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!orderForm.controls['workFaultId'].valid">
                            {{'Work Order.Management.Please Select Work Fault'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-9">
                        <mat-label>{{'Work Order.Management.Extra Details'|translate}}</mat-label>
                        <textarea matInput formControlName="extraDetails"></textarea>
                        <!-- <mat-error *ngIf="!orderForm.controls['extraDetails'].valid">
                            {{'Work Order.Management.Extradetails is Required'|translate}}
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </form>
            <div class="row">
                <form [formGroup]="itemFrom" class="col-md-12">
                    <div formArrayName="credentials"
                        *ngFor="let item of itemFrom.controls['credentials']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                            <h4>{{'Purchase Order.Management.Item'|translate}}{{i+1}}</h4>
                            <div class="row">
                                <mat-form-field class="col-md-4">
                                    <mat-label>{{'Purchase Order.Management.Select Item'|translate}}<span>*</span>
                                    </mat-label>
                                    <mat-select formControlName="itemId">
                                        <mat-option *ngFor="let item of itemList" [value]="item.id" required>
                                            {{item.name1}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="item.controls.itemId.invalid">
                                        {{'Purchase Order.Management.Please Select Item'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <mat-label>{{'Purchase Order.Management.Quantity'|translate}}</mat-label>
                                    <input matInput formControlName="quantity" required maxlength="5"
                                        (keypress)="numberOnly($event)" />
                                    <mat-error *ngIf="item.controls.quantity.invalid">
                                        {{'Purchase Order.Management.Quantity is Required'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-4">
                                    <button mat-raised-button color="warn" (click)="Delete(i)" title="Cancel"
                                        *ngIf="i>0">
                                        {{'Purchase Order.Management.Remove'|translate}}
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="float-right" style="padding-top: 12px;">
                <button mat-raised-button color="primary"
                    (click)="saveOrder()">{{'Purchase Order.Management.Save'|translate}}</button>
                <button mat-raised-button color="warn"
                    (click)="onCancelClick()">{{'Purchase Order.Management.Cancel'|translate}}</button>
            </div>
        </mat-card-actions>
        <div class="clearfix"></div>
    </mat-card>
</div>
<div class="page-content" *ngIf="isView">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'Work Order.Management.Work Order Information'|translate}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <!-- <div class="row">
                        <div class="col-md-12 subHeader">
                              Work Order
                        </div>
                    </div> -->
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Start Date'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.startDate | date: 'dd/MM/yyyy'}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.End Date'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.endDate | date: 'dd/MM/yyyy'}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Site Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.siteName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Project Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.projectName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Location Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.locationName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Asset Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.assetName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Reference 1'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.reference1}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Issue'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.issue}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Resolution'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.resolution}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Store Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.storeName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Work Type Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.workTypeName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Work Status Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.workStatusName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Work Technician Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.workTechnicianName}}</b>&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Work Fault Name'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.workFaultName}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            {{'Work Order.Management.Extra Details'|translate}}
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <b>{{workorder.extraDetails}}</b>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <mat-card-actions>
                <div class="float-right" style="padding-top: 12px;padding-right: 15px;">
                    <button mat-raised-button (click)="closeViewWorkOrder()"
                        color="warn">{{'Work Order.Management.Close'|translate}}</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
        <div class="clearfix"></div>
    </mat-card>
</div>