<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="isSuccess">Your password has been reset. Please <a routerLink="/login">click here to login</a>.</p>
        <form *ngIf="!isSuccess" #form="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate class="app-reset-form">
          <mat-form-field class="app-validate">
            <input matInput formControlName="usernameOrEmail" placeholder="Username Or Email" autocomplete="email" (keydown.enter)="resetPassword()">
            <mat-error *ngIf="usernameOrEmail.hasError('required')">
              User name or Email address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="app-validate" formGroupName="password">
            <input matInput formControlName="newPassword" placeholder="New Password" autocomplete="new-password" (keydown.enter)="resetPassword()" type="password">
            <mat-error *ngIf="newPassword.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
              Password must contain at least: one uppercase letter, one lowercase letter, one digit, and any special character
            </mat-error>
          </mat-form-field>

          <mat-form-field class="app-validate" formGroupName="password">
            <input matInput formControlName="confirmPassword" placeholder="Confirm Password" autocomplete="new-password" (keydown.enter)="resetPassword()" type="password">
            <mat-error *ngIf="confirmPassword.hasError('required')">
              Confirmation password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">
              Password and confirmation password <strong>do not match</strong>
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="!isSuccess" mat-raised-button color="primary" [disabled]="isLoading" (click)="resetPassword()">
          <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
          SUBMIT
        </button>
        <a *ngIf="!isSuccess" mat-button routerLink="/">CANCEL</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
