<h1 [dir]="textDir"  mat-dialog-title>{{'Preventive Maintenance.Management.Add Asset to the PM Procedure'|translate}}</h1>
<div [dir]="textDir"  mat-dialog-content>
    <div class="search-box">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Asset.Management.Search' | translate}}">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" matSort matSortActive="assetRef" matSortDirection="asc"
            matSortDisableClear>
            <ng-container matColumnDef="isChecked">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <mat-checkbox [checked]="row.isEditable" [(ngModel)]="row.isEditable" (change)="onEditAsset($event,row)" ></mat-checkbox>
                </mat-cell>
          </ng-container>
            <ng-container matColumnDef="name1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.Name 1'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="assetRef">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.Asset Refrerence'|translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.assetRef}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="daysApplicable">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef mat-sort-header>
                    {{'Preventive Maintenance.Management.DaysApplicable'|translate}}</mat-header-cell>      
                    <mat-cell class="text-center" *matCellDef="let row; let i = index;">
                        <span *ngIf="!row.isEditable"> {{row.daysApplicable}}</span>
                        <span  *ngIf="row.isEditable">
                            <mat-form-field class="w-75 text-wid">
                                <input matInput  (blur)="onDaysEnter($event.target.value)"  [(ngModel)]="row.daysApplicable"   maxlength="10"/>
                            </mat-form-field>
                        </span>
                    </mat-cell>
            </ng-container>

            <ng-container matColumnDef="astFixedDate">
                <mat-header-cell  *matHeaderCellDef mat-sort-header>
                    {{'Assets.Management.assetFixedDate'|translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.astFixedDate | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="actions">
                <mat-header-cell class="just-cont-center" *matHeaderCellDef mat-sort-header>
                    Actions</mat-header-cell>
                <mat-cell class="just-cont-center" *matCellDef="let row; let i = index;">
                  
                    <button mat-icon-button matTooltip="Edit" (click)="onEditAsset(row, i)" *ngIf="!row.isEditable">
                        <mat-icon color="primary">edit</mat-icon>
                    </button> &nbsp;
                    <button mat-icon-button matTooltip="Save" (click)="saveMaintenance(row)" *ngIf="row.isEditable">
                        <mat-icon color="primary">offline_pin</mat-icon>
                    </button> &nbsp;
                    <button mat-icon-button matTooltip="Cancel"  *ngIf="row.isEditable" 
                    (click)="onCancelAsset(row)" >
                        <mat-icon color="warn">cancel</mat-icon>
                    </button>
                </mat-cell>
            </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" >
            </mat-row>
        </mat-table>
        <div style="text-align: center;" [hidden]="!(dataSource.data.length==0)">
            <p>{{'Assets.Management.No Records Found'|translate}}</p>
        </div>
        <div style="text-align: center;" *ngIf="displayNoRecords">
            <p>{{'Assets.Management.No Search Results Found'|translate}}</p>
        </div>
        <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>


    </div>
    <div class="clearfix"></div>
</div>
<div mat-dialog-actions class="float-right" style="padding-top: 12px;">
    <button mat-raised-button [dir]="textDir"  color="primary" (click)="saveMaintenance()">{{'Preventive Maintenance.Management.Save'|translate}}</button>
    <button mat-raised-button [dir]="textDir"  (click)="Cancel()" color="warn">{{'Preventive Maintenance.Management.Cancel'|translate}}</button>
</div>